*
{
margin: 0;
padding: 0;
border: 0;
line-height: 1.4em;
text-decoration: none;
outline: 0;
}
body
{
	font-family: sans-serif;
	box-sizing: border-box;
	font-size: 12px;
	background: #000000; 
background: -webkit-linear-gradient(to right, #434343, #000000); 
background: linear-gradient(to right, #434343, #000000);

	
}
.container
{
	width: 80%;
    height: 90vh;
	margin: 0 auto;
}
.container-logo
{
	border: 1px solid #005C97;
	background-color: #005C97;
	padding: 10px;
    border-color: ghostwhite;
	border-radius: 5px;
	-webkit-transform: skew(-10deg); 
	-moz-transform: skew(-10deg); 
	-o-transform: skew(-10deg);
    float: left;
    color: white;
	text-decoration: none;
	margin: 10px;
	font-family: 'Jua', sans-serif;
	text-shadow: 1px 3px 6px #000000;
    font-size: 1.2rem;
}
.container-logo:hover
{
	background-color: transparent;
	color: #00b4db;
    border: 1px dashed #00b4db;
    cursor: pointer;
    -webkit-transform: skew(15deg);
	-moz-transform: skew(15deg) ;
	-o-transform: skew(15deg);
    transition: 1000ms;
}
.toggle-theme
{
	margin-top: 10px;
	float: left;
	color: #005C97;
	font-size: 2.4rem;
}
.toggle-menu
{
	display: none;
	float: right;
	width: 35px;
	height: 35px;
	margin: 16px;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;
}   
.toggle-menu span
{
	display: block;
	position: absolute;
	height: 5px;
	width: 100%;
	background:#005C97;
	border-radius: 10px;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}
.toggle-menu span:nth-child(1) {
	top: 5px;
	width: 100%;
}
.toggle-menu span:nth-child(2) {
	top: 15px;
	width: 75%;
	margin-left: 25%;
}
.toggle-menu span:nth-child(3) {
	top: 25px;
	width: 60%;
	margin-left: 40%;
}
.toggle-menu.open span:nth-child(1) {
	top: 15px;
	-webkit-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	transform: rotate(135deg);
	width: 100%;
	margin: 0;
}
.toggle-menu.open span:nth-child(2) {
	opacity: 0;
	left: -70px;
	width: 100%;
	width: 100%;
	margin: 0;
}
.toggle-menu.open span:nth-child(3) {
	top: 15px;
	-webkit-transform: rotate(-135deg);
	-moz-transform: rotate(-135deg);
	-o-transform: rotate(-135deg);
	ransform: rotate(-135deg);
	width: 100%;
	margin: 0;
}
.theme-picker
{
	display: none;
	float: left;
	width: 60px;
	height: 40px;
	margin-top: 8px;
	-webkit-transform: skew(-10deg); 
	-moz-transform: skew(-10deg); 
	-o-transform: skew(-10deg);
	border-radius: 5px;
}
#theme-red, #theme-lime, #theme-white, #theme-default
{
margin: 3px 1px;
padding: 10px 10px; 
float: left;
border-radius: 20%;
}
#theme-red
{
	background: #ed213a; 
	background: -webkit-linear-gradient(to right, #ed213a, #93291e); 
	background: linear-gradient(to right, #ed213a, #93291e);
}
#theme-lime
{
	background: #a8ff78;
	background: -webkit-linear-gradient(to right, #78ffd6, #a8ff78);
	background: linear-gradient(to right, #78ffd6, #a8ff78);
}
#theme-white 
{
	background: #FFEFBA;
	background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);
	background: linear-gradient(to right, #FFFFFF, #FFEFBA);
}
#theme-default {background-color: #005C97;}

header
{
	 position:fixed;
     top:0;
     left:0;
     right:0;
     width: 85%;
     margin: 0 auto;
    -webkit-transition: width 0.4s ease;
    -moz-transition: width 0.4s ease;
    -o-transition: width 0.4s ease;
    transition: width 0.4s ease;
}
header nav{float: right;}
header nav ul{display: flex;}
header nav ul li{list-style: none;}
header nav ul li a
{
	color: white;
	text-decoration: none;
	font-family: 'Jua', sans-serif;
	text-shadow: 2px 6px 4px #000000;
    padding: 10px 10px;
    height: 50px;
    line-height: 50px;
    font-size: 1.6rem;
    display: block;
}
header nav ul li a:hover
{
	text-decoration: none;
	color: #005C97;
	transition: 0.3s;
	text-shadow: 2px 4px 6px #000000;
}
header nav ul li a.active{color: #005C97; }
main
{
width: 85%;
margin: 10% auto;
}
main h1, h4
{
	font-family: 'Jua', sans-serif;
	color: white;	
}
main h1{font-size: 4rem;}
main h4{font-size: 1.4rem;}
main button, .portfolio button, .contact button
{
	width: 180px;
	height: 70px;
	background-color:  #005C97;
    color: white;
    padding: 14px 14px;
	font-family: 'Jua', sans-serif;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.3rem;
    margin: 12px auto;
    cursor: pointer;
	text-shadow: 1px 0px 1px gray;
	-webkit-transform: skew(-20deg); 
	-moz-transform: skew(-20deg); 
	-o-transform: skew(-20deg);
}
main button:hover, .contact button:hover, .portfolio button:hover
{
	background-color: transparent;
	transition: 0.6s;
	color: white;
	border:1px dashed #005C97;
}
main h5
{
    color: white;
    font-size: 1.5rem;
    padding: 0px;
    margin: 12px;
}
.contact, .portfolio
{
	height: 100vh;
	width: 100%;
	display: inline-block;
	background-image: url("img.gif");
}
.projects-box
{
	width: 100%;
    height: 100%;
    margin: 0 auto;
}
.project 
{
	width: 24%;
	height: 50%;
	display: inline-flex;
	background: #005C97;
	background: -webkit-linear-gradient(to right, #363795, #005C97); 
	background: linear-gradient(to right, #363795, #005C97);
	position: relative;
	left: 1.5%;
}
.content{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	color: #fff;
	text-transform: uppercase;
	font-size:0.8rem;
	white-space: nowrap;
}
.content span{
	font-size:1.4rem;
	display: block;
}
.overlay
{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(49, 209, 129, 0.6);
	width: 100%;
	height: 0;
	transition: 0.4s ease;
	overflow: hidden;
}
.project:hover .overlay
{
height: 100%
}
.fab.fa-html5 {color: orangered;}
.fab.fa-css3-alt {color:darkblue;}
.fab.fa-js-square {color: yellow;}
.fab.fa-php {color: darkgrey;}
.fas.fa-database {color: forestgreen;}

.portfolio-content
{
	width: 85%;
	height: 60%;
	margin: 75px auto;
}
.contact-content
{
	width: 100%;
	height: 100%;
    margin: 75px auto;
}
.portfolio button, .contact button
{
	display: block;
}
.contact-box
{
	width: 40%;
	height: 70%;
	margin: 0 auto;
	background: #005C97; 
	background: -webkit-linear-gradient(to right, #363795, #005C97);  
	background: linear-gradient(to right, #363795, #005C97);
}
.contact-box form
{
	height: 80%;
	width: 100%;
	text-align: center;
}
.contact-box h1, p
{
	color: ghostwhite;
	font-size: 1.1rem;
	font-family: 'Jua', sans-serif;
}
input[type=email], textarea
{
	width: 80%;
	font-weight: 700;
	text-align: left;
	border: 2px inset ghostwhite;
    resize: none;
}
textarea
{
	height: 65%;
	text-align: justify;
}
input[type=submit]
{
	background-color: transparent;
	color: whitesmoke;
	border: 2px solid ghostwhite;
    padding: 7px;
	text-align: center;
	width: 75px;
}
input[type=submit]:active
{
	border-color: transparent;
	background-color: ghostwhite;
	color: #005C97;
}
input[type=number]
{
    width: 50px;
    margin-left: 10px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button 
{ 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
.about
{
	width: 100%;
	display: block-inline;
}
.about-content
{
    padding: 0px;
	width: 30%;
	background-color: #00b4db;
	border: 3px solid white;
	border-radius: 10px;
    color: white;
}
.about-content h2
{
	text-align: center;	
	font-size: 1.4rem;
}
.about-content p
{
    text-align: justify;
    font-size: 1rem;
    width: 90%;
    margin: 0 auto;
    padding: 10px;
    word-wrap: break-word;
    letter-spacing: 0.9px;
}
.box-info
{
    font-size: 2.5rem;
    width: 90%;
    margin: 0 auto;
    font-family: 'Jua', sans-serif;
}
.fab.fa-html5 {color: #e34f26;}
.fab.fa-css3-alt {color:mediumblue;}
.fab.fa-js-square {color: #f7df1e;}
.fab.fa-facebook-square {color: #3B5998;}
.fab.fa-github {color: #6e5494;}

/*************** MOBILE ***************/
@media (max-width: 720px)
{
.container, .portfolio, .contact
    {
     height: 100vh;
     width: 100%;
    }
main button, .portfolio button, .contact button
{
    width: 75%;
    height: 4rem;
    margin: 10px auto;
    display: block;
	font-family: 'Jua', sans-serif;
    font-size: 15px;  
    -webkit-transform: none;
	-moz-transform: none;
	-o-transform: none;
}
.contact button, .portfolio button
{
	width: 60%;
}
main
{
	margin-top: 80px;
}
main h1
{
	font-size: 1.4rem;
	text-align: center;
}
main h4
{
	text-align: left;
	font-size: 1.4rem;
	text-align: center;
	margin-bottom: 20px;
}
header
{
    width: 100%;
}
.toggle-menu
{
    display: block;
}  
header nav
{
    position:absolute;
    width: 100%;
    height: 100%;
    background: #111;
    height: 600px;
    background-image: url("img.gif");
    top: -900%;
    transition: 0.5s;
    margin: 0 auto;
    z-index: -2;
    text-align: center;
}
header nav ul li a
{
    font-size: 1.6rem;
    text-transform: uppercase;
    margin: 0 auto;
}
header nav.active
{
    top: 0%; 
    display: block;
}
header nav ul 
{
    display: block;
    text-align: center;
	margin-top: 70px;
}
main h5
{
    font-size: 1rem;
	text-align: center;
    letter-spacing: -1px;
}
main h1
{
	font-size: 2rem;
}
.about-content
    {
	width: 95%;
	height: 65vh;
	background-color: transparent;
	border: none;
    margin: 0 auto;
    }
.about-content h2
	{
	text-align: center;	
	font-size: 1.2rem;
	}
.about-content p
	{
    text-align: justify;
    font-size: 0.9rem;
    width: 95%;
    margin: 0 auto;
    padding: 10px;
    word-wrap: break-word;
    letter-spacing: 0.5px;
	}
.box-info
	{
    font-size: 1.4rem;
    width: 90%;
    margin: 0 auto;
    font-family: 'Jua', sans-serif;
	}
.about img 
{
	border:0;
	width:88px;
	height:31px;
}
.about button.cv
{
	width: 88px;
	height: 31px;
	line-height: 0px;
	padding: 0px;
	margin: 0px;
}
.about button.cv:hover
{
	background-color: transparent;
	border: 1px solid #005C97;
	transition: 0.1s;
}
.projects-box
{
	width: 95%;
    height: 100%;
    margin: 0 auto;
}
.project 
{
width: 45%;
height: 25%;
display: inline-block;
background: #005C97;
background: -webkit-linear-gradient(to right, #363795, #005C97); 
background: linear-gradient(to right, #363795, #005C97);
position: relative;
left: 4.5%;
}
.content{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
color: #fff;
text-transform: uppercase;
font-size:0.8rem;
white-space: nowrap;
}
.content span
{
	font-size:1.4rem;
	display: block;
}
.overlay
{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(49, 209, 129, 0.6);
	width: 100%;
	height: 0;
	transition: 0.4s ease;
	overflow: hidden;
}
.project:hover .overlay {height: 100%}
.fab.fa-html5 {color: orangered;}
.fab.fa-css3-alt {color:#005C97;}
.fab.fa-js-square {color: yellow;}
.fab.fa-php {color: darkgrey;}
.fas.fa-database {color: forestgreen;}

.portfolio-content
{
	width: 85%;
	height: 69%;
	margin: 5% auto;
}
.contact-content
{
	width: 100%;
	height: 75%;
    margin: 0 auto;
}
.portfolio button, .contact button {display: block;}
.contact-box
{
	width: 90%;
	height: 100%;
	margin: 0 auto;
	background: transparent;
	border-radius: 10px;
}
.contact-box form
{
	height: 80%;
	width: 100%;
	text-align: center;
}
.contact-box h1
{
	color: ghostwhite;
	font-size: 2rem;
	font-family: 'Jua', sans-serif;
}
.contact input[type=email], .contact textarea, .contact input[type=text]
{
	width: 80%;
    padding: 10px;
	text-align: left;
	border: none;
    resize: none;
	margin: 5px;
    color: white;
    background: #005C97; 
	background: -webkit-linear-gradient(to right, #363795, #005C97);  
	background: linear-gradient(to right, #363795, #005C97);
}
.contact ::placeholder
{
	color: silver;
	font-weight: bold;
}
.contact textarea{height: 55%;}
.contact input[type=submit]
{
	background-color: transparent;
	color: whitesmoke;
	border: 2px solid ghostwhite;
    padding: 2%;
	text-align: center;
	width: 6rem;
	height: 3rem;
}
.contact input[type=submit]:active
{
	border-color: transparent;
	background-color: ghostwhite;
	color: #005C97;
}
.contact input[type=number]
{
    width: 50px;
    margin-left: 10px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
.hire
{
	width: 85%;
	height: 100vh;
}
@media (max-width:768px)
{
.hire
{
	width: 100%;
	text-align: center;
} 
.hire p
{
	text-align: justify;
	font-size: 0.9rem;
	letter-spacing: 1px;
}
select
{
	text-align: center;
	border: none;
	width: 65%;
	height: 50px;
	margin: 5px;
	border: 2px solid ghostwhite;
    color: ghostwhite;
    background-color: #005C97;
}
option {background-color: #005C97;}
.hire input[type=text]
{
		margin: 0 auto;
		width: 100px;		
}
select:focus {font-weight: bold;}
.hire input[type=submit]
{
    height: 30px;
    vertical-align: center;
    line-height: 1px;
}	
.hire p:nth-child(5)
{
    text-align: center;
	margin: 5px auto;
}
.hire input[type=text]
{
        background-color: #005C97;
        border: 2px solid ghostwhite;
        color: white;
        margin: 5px;
}
.toggle-menu{display: block;}
} 