body
{
background: #fff;
background: var(--bgColor);
}

.borderBox {
  background: var(--blodyColor);
  border: 1px solid var(--crimsonColor);
}

.animation {
  color: var(--textColor);
}

.animation span:nth-child(3n+1) {
  color: ghostwhite;
  text-shadow: 2px 2px black;
}

.containerLogo {
  border: 3px solid var(--textColor);
  background-color: var(--blodyColor);
  border-color: ghostwhite;
  color: ghostwhite;
  text-shadow: 1px 3px 6px #000000;
}

.toggleLang,
.toggleTheme {
  color: var(--textColor);
  text-shadow: 3px 3px #111;
}

.toggleMenu span {
  background: var(--textColor);
}

.themeClosepicker button,
.langClosepicker button {
  border: 1.5px solid grey;
  color: var(--crimsonColor);
  background-color: #333;
}

header
{
  box-shadow: 0px 1px var(--textColor);
}

header.scroll 
{
	background: var(--blodyColor);
}

header nav {
  background: transparent;
}

header nav ul li a {
  color: ghostwhite;
}
header nav ul li a:hover {
  color: var(--textColor);
  text-shadow: 2px 4px 6px #000000;
}
header nav ul li a.active {
  color: var(--textColor);
}

main h1 {
  color: ghostwhite;
}

main h5 {
  color: ghostwhite;
}

#skillsCol1,
#skillsCol2 {
  color: ghostwhite;
}

.aboutBox {
  background: var(--blodyColor);
  border: 3px solid var(--textColor);
}

.aboutBox h2, #aboutText2, #aboutText3
{
  color: ghostwhite;
  background: transparent;
  border: 3px solid cornsilk;
  padding: 4px;
}

.aboutSkills, #skillsText3
{
  background: transparent;
  border: 3px solid cornsilk;
}
.iconContainer a,
.iconContainer i {
  text-decoration: none;
  color: ghostwhite;
}
.iconContainer i:hover {
  color: var(--crimsonColor);
}

.fab.fa-html5 {  /* better contrast for HTML icon */
  color: whitesmoke;
}

.portfolio h2 {
  color: ghostwhite;
}

.project {
  border: 3px solid var(--textColor);
  background: var(--bgColor);
}

.projectsBox {
  background: var(--blodyColor);
  border: 3px solid var(--textColor);
}

#portfolioText {
  color: var(--textColor);
}
.boxInfo {
  color: var(--textColor);
}
.content {
  color: #fff;
}

.overlay {
  background: var(--crimsonColor);
}

.contactBox {
  background: var(--blodyColor);
  border: 3px solid var(--textColor);
}

.contact-box h1, p 
main h1 {
  color: var(--textColor);
}

.contact input[type=email],
.contact textarea,
.contact input[type=text] {
  border: 3px solid var(--textColor);
  color: var(--textColor);
  background: var(--blodyColor);
}
.contact ::placeholder {
  color: var(--textColor);
}

.contact input[type=submit] {
  background-color: transparent;
  color: var(--textColor);
  border: 2px solid ghostwhite;
}

.contact input[type=submit]:active {
  border-color: 3px solid var(--textColor);
  background-color: cornsilk;
  color: var(--blodyColor);
}

footer {
  border: 3px solid var(--textColor);
  background: var(--blodyColor);
  color: ghostwhite;
}

@media (max-width: 775px) {

  .scrollUp {
    color: var(--textColor);
  }

  .fa-arrow-circle-up:before {
    border: 5px solid #333;
  }

  header nav
  {
    background-color: var(--blodyColor);
  }

  #btnGo {
    background-color: var(--blodyColor);
	  border: 3px solid var(--textColor);
    color: ghostwhite;
  }

  #btnGo:hover {
    background-color: var(--textColor);
    color: var(--blodyColor);
    border: 3px solid var(--blodyColor);
  }
}