* {
  border: 0;
  margin: 0;
  outline: 0;
  padding: 0;
}
:root {
  --bgColor: linear-gradient(to right, #e73827, #f85032);
  --blodyColor: #721a2c;
  --crimsonColor: crimson;
  --textColor: #e0d7b2;
  --bgColorGreen: linear-gradient(to left, #2C7744, #5A3F37);
  --greenColor: #16270a;
  --textColorGreen: #e0d7b2;
  --bgColorWhite: cornsilk;
  --textColorWhite: #1b1b1b;
}
.sectionValues {
  display: flex;
  height: 100vh;
  margin: 0 auto;
  width: 90vw;
}
body {
  background: linear-gradient(to right, #300c30, #060625);
  box-sizing: border-box;
  font-family: sans-serif;
}
body.menu-open {
  overflow: hidden;
}
body.menu-open::before {
  background-color: rgba(0, 0, 0, 0.5);
  content: "";
  filter: blur(4px);
  height: 100%;
  left: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  width: 100%;
}
.scrollUp,
.fa-solid-fa-angle-up {
  display: none;
}
.container,
.about,
.portfolio,
.contact {
  display: flex;
  height: 100vh;
  margin: 0 auto;
  width: 90vw;
}
.containerLogo {
  background-color: #583580;
  color: ghostwhite;
  float: left;
  font-family: 'Jua', sans-serif;
  font-size: 1.2rem;
  margin: 10px;
  padding: 8px;
  text-decoration: none;
  text-shadow: 1px 3px 6px #000000;
}
.containerLogo.active {
  background-color: #060625;
  color: #583580;
  text-shadow: none;
  transition: 0.5s linear;
}
.containerLogo:hover {
  background-color: transparent;
  cursor: pointer;
  text-shadow: 0px 0px 0px #000000;
  transition: 2s;
}
.toggleMenu {
  display: none;
}
.toggleLang,
.toggleTheme {
  color: #583580;
  display: inline-flex;
  font-size: 2rem;
  margin: 0 10px;
  position: sticky;
  text-shadow: 1px 1px ghostwhite;
  top: 12px;
}
.themePicker,
.langPicker {
  align-items: center;
  align-content: flex-start;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 50px;
  margin: 8px auto;
}
.themePicker .themeClosepicker,
.langPicker .themeClosepicker,
.themePicker .langClosepicker,
.langPicker .langClosepicker {
  position: fixed;
}
.themeClosepicker button,
.langClosepicker button {
  background-color: #060625;
  border: 1.5px solid grey;
  border-radius: 50%;
  color: #583580;
  font-weight: bold;
  font-size: 10px;
  height: 20px;
  width: 20px;
}
.themeDefault {
  background-color: #583580;
}
.themeRed {
  background: linear-gradient(to right, #e73827, #f85032);
}
.themeLime {
  background: linear-gradient(to left, #2C7744, #5A3F37);
}
.themeWhite {
  background: cornsilk;
}
.themeRed,
.themeLime,
.themeWhite,
.themeDefault,
.langEn,
.langPl,
.langUa,
.langDe {
  border-radius: 20%;
  box-shadow: 2px 2px #333;
  float: left;
  height: 20px;
  margin: 1px;
  width: 20px;
}
.bgNavScrolling {
  background-color: #060625;
}
header {
  background: transparent;
  box-shadow: 0px 1px #583580;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}
header nav {
  float: right;
  display: flex;
  justify-content: center;
}
header nav ul {
  display: flex;
}
header nav ul li {
  list-style: none;
}
header nav ul li a {
  align-items: center;
  color: ghostwhite;
  cursor: pointer;
  display: inline-flex;
  font-family: 'Jua', sans-serif;
  font-size: 1.6rem;
  height: 50px;
  padding: 4px 8px;
  text-decoration: none;
  text-shadow: 2px 6px 4px #000000;
}
header nav ul li a:hover {
  color: #583580;
  text-decoration: none;
  text-shadow: 2px 4px 6px #000000;
  transition: 0.3s;
}
header nav ul li a.active {
  color: #583580;
}
.h_nav.menu {
  color: ghostwhite;
  text-shadow: 1px 0px 4px white;
  transition: 0.5s;
}
.navActive {
  align-items: center;
  background-color: #583580;
  border-radius: 10px;
  color: ghostwhite;
  transition: background-color 0.5s ease-in;
}
.animBox {
  height: 20vh;
  width: 40vw;
  background: #060625;
  border: 1px solid #583580;
  border-radius: 20px;
  display: flex;
  padding: 5px;
  margin: 0 auto;
}
.animText {
  color: ghostwhite;
  font-family: 'Jua', sans-serif;
  font-size: 1.1em;
  margin: auto;
  padding: 5px;
  text-align: center;
}
.visitCounter {
  width: 10vw;
  height: 5vh;
  background: #060625;
  border: 1px solid #583580;
  border-radius: 20px;
  display: flex;
  margin: 1rem auto;
  padding: 10px;
  align-items: center;
  justify-content: center;
}
.visitCounter .visitText,
.visitCounter .visitCount {
  color: ghostwhite;
  font-family: 'Jua', sans-serif;
  font-size: 1rem;
  margin-right: 1px;
}
main {
  height: 50%;
  margin: 10% auto;
  width: 85%;
}
main h1 {
  color: ghostwhite;
  font-family: 'Jua', sans-serif;
  font-size: 3rem;
  padding: 15px;
  text-align: center;
}
main h5 {
  color: ghostwhite;
  font-size: 1.5rem;
  margin: 12px;
  padding: 0px;
}
#btnGo {
  display: none;
}
.aboutBox {
  background: #060625;
  border: 1px solid #583580;
  border-radius: 10px;
  color: ghostwhite;
  height: 80vh;
  margin: 5rem auto;
  padding: 0px;
  position: relative;
  width: 60%;
}
.aboutHeader1,
.aboutHeader2,
.aboutHeader3,
.portfolioHeader,
.contactHeader {
  background: #583580;
  border-radius: 10px;
  color: ghostwhite;
  display: block;
  margin: 14px auto;
  padding: 10px;
  font-size: 22px;
  box-shadow: 0 0 5px black;
  text-align: center;
  font-family: 'Jua', sans-serif;
  font-weight: bold;
  width: 40%;
}
.aboutText {
  background: #583580;
  box-shadow: 0 0 5px black;
  border-radius: 5px;
  font-family: 'Times New Roman', Times, serif;
  text-align: justify;
  font-size: 1rem;
  margin: 0 auto;
  width: 70%;
  padding: 1.5rem;
  word-wrap: break-word;
}
.skillsCol1 {
  color: ghostwhite;
  font-size: 1.5rem;
  margin: 0 auto;
}
.skillsCol1 p {
  font-size: 0.8rem;
  font-weight: bold;
  padding: 2px;
}
.skillsCol1 li {
  font-size: 0.8rem;
  font-weight: bold;
  list-style-position: inside;
  list-style-type: disclosure-closed;
}
.aboutSkills {
  display: flex;
  margin: 0 auto;
  width: 60%;
  height: auto;
  background: #583580;
  border-radius: 5px;
  box-shadow: 0 0 5px black;
  padding: 1.5rem;
}
.iconContainer {
  align-items: center;
  bottom: 0;
  display: flex;
  font-size: 2rem;
  justify-content: center;
  position: absolute;
  width: 100%;
}
.iconContainer a,
.iconContainer i {
  color: ghostwhite;
  margin: 0.2rem;
  text-decoration: none;
}
.iconContainer i:hover {
  color: #583580;
  transition: 1s;
}
.portfolioBox {
  background: #060625;
  border: 1px solid #583580;
  border-radius: 10px;
  color: ghostwhite;
  height: 80vh;
  margin: 5rem auto;
  padding: 0px;
  position: relative;
  width: 60vw;
}
.swiper {
  width: 80%;
  height: 65vh;
  margin: 0 auto;
  z-index: 0 !important;
}
.swiper-slide,
.swiper-slide p {
  color: white;
}
.swiper-slide-header {
  background: #583580;
  border-radius: 20px;
  box-shadow: 2px 1px 8px 2px black;
  color: white;
  font-size: 22px;
  font-family: 'Jua', sans-serif;
  left: 50%;
  padding: 4px;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  z-index: 2;
}
.swiper-slide img {
  width: auto;
  height: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
}
.swiper-slide:nth-child(3) {
  background-color: #102c10;
}
.swiper-pagination-fraction {
  width: 20% !important;
  left: 50% !important;
  font-family: 'Jua', sans-serif;
  transform: translateX(-50%) !important;
  color: var(--textColor) !important;
  background-color: #583580;
  border-radius: 10px;
  padding: 4px;
  box-shadow: 0 0 5px black;
}
.swiper-slide-headerIcons {
  z-index: 2;
  display: inline-flex;
  position: fixed;
  font-size: 1.5rem;
  top: 60%;
  left: 50%;
  transform: translate(-50%, 0);
  background: #583580;
  padding: 5px;
  border-radius: 20px;
  box-shadow: 0 0 5px black;
}
.swiper-slide-headerIcons i {
  padding: 5px;
}
.swiper-button-next,
.swiper-button-prev {
  color: ghostwhite !important;
}
.fab.fa-html5 {
  color: orangered;
}
.fab.fa-css3-alt {
  color: navy;
}
.fab.fa-js-square {
  color: yellow;
}
.fab.fa-php {
  color: darkgrey;
}
.fas.fa-database {
  color: forestgreen;
}
.fab.fa-unity {
  color: black;
}
.fa-solid.fa-c {
  color: violet;
}
.contactBox {
  background: #060625;
  border-radius: 5px;
  border: 1px solid #583580;
  margin: 5rem auto;
  height: 75vh;
  width: 40vw;
}
.contactBox form {
  height: 80%;
  text-align: center;
  width: 100%;
}
.contact input[type=email],
.contact textarea,
.contact input[type=text] {
  background: #583580;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px black;
  color: ghostwhite;
  margin: 5px;
  padding: 5px;
  resize: none;
  text-align: left;
  width: 80%;
}
.contact ::placeholder {
  color: ghostwhite;
}
.contact textarea {
  height: 55%;
}
.contact input[type=submit] {
  background-color: #583580;
  border: 2px solid transparent;
  border-radius: 10px;
  box-shadow: 0 0 5px black;
  color: ghostwhite;
  height: 3rem;
  padding: 2%;
  text-align: center;
  width: 6rem;
}
.contact input[type=submit]:active {
  background-color: ghostwhite;
  border-color: transparent;
  color: #583580;
}
.contact input[type=number] {
  margin-left: 10px;
  width: 50px;
}
.contact textarea {
  height: 40%;
  text-align: justify;
}
.mailSend {
  display: none;
  background: #000000c2;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 2;
}
.mailSend.active {
  display: flex;
  align-items: center;
  justify-content: center;
}
.mailSendBox {
  width: 75vw;
  height: 35vh;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #060625;
  border: 1px solid #583580;
  border-radius: 10px;
  position: inherit;
}
.msb_text {
  width: 80%;
  font-size: 1.2rem;
  margin: 4rem auto;
  border-radius: 10px;
  border: 1px solid;
  text-align: center;
  color: white;
  font-family: 'Jua', sans-serif;
}
h1.msb_confirmed,
h1.msb_refused {
  width: 80%;
  font-size: 1.2rem;
  margin: 4rem auto;
  border-radius: 10px;
  border: 1px solid;
  text-align: center;
  color: white;
  font-family: 'Jua', sans-serif;
}
h1.msb_confirmed {
  display: none;
  color: #39b639;
  background: #00800080;
}
h1.msb_refused {
  display: none;
  color: #e61414;
  background: rgba(66, 7, 7, 0.322);
}
.msb_button {
  background: #583580;
  border: 1px solid transparent;
  border-radius: 10px;
  color: ghostwhite;
  height: 25px;
  margin: 20px auto;
  padding: 10px 12px;
  text-align: center;
  width: 50px;
}
footer {
  background: #060625;
  border-top: 1px solid #583580;
  bottom: -300vh;
  height: 15px;
  left: 0;
  margin: 0 auto;
  padding: 15px 0px;
  position: absolute;
  width: 100%;
}
footer p,
footer a {
  color: ghostwhite;
  font-family: 'Jua', sans-serif;
  text-align: center;
  text-decoration: none;
}
/***************************************/
/*************** MOBILE ****************/
/***************************************/
@media (max-width: 775px) {
  .borderBox {
    border-radius: 5px;
    height: 70vh;
    margin-top: 4rem;
    width: 85vw;
  }
  .no-scroll {
    overflow: hidden;
  }
  .container,
  .about,
  .portfolio,
  .contact {
    display: inline-block;
  }
  .containerLogo {
    border: none;
    border-radius: 0;
  }
  .animBox {
    height: auto;
    width: 75vw;
  }
  .fas.fa-arrow-circle-up {
    display: inherit;
  }
  .visitCounter {
    width: 25vw;
    height: 5vh;
    margin: 2rem auto;
  }
  .scrollUp {
    background: #300c30;
    border: 3px solid ghostwhite;
    border-radius: 15px;
    color: ghostwhite;
    display: none;
    font-size: 1.5rem;
    position: fixed;
    left: 75vw;
    padding: 10px;
    top: 80vh;
    z-index: 2;
  }
  .contact-box h1,
  main h1 {
    color: ghostwhite;
    font-family: 'Jua', sans-serif;
    font-size: 2rem;
  }
  .container,
  .portfolio,
  .about,
  .contact {
    height: 100vh;
    margin-top: 2rem auto;
    width: 100%;
  }
  #btnGo {
    background-color: #060625;
    border: 3px solid #583580;
    border-radius: 30px;
    color: ghostwhite;
    cursor: pointer;
    display: block;
    font-family: 'Jua', sans-serif;
    font-size: 4vw;
    padding: 1.2rem;
    height: auto;
    margin: 8rem auto;
    text-decoration: none;
    width: 30vw;
  }
  #btnGo:hover {
    background-color: ghostwhite;
    border: 1px solid ghostwhite;
    color: #583580;
    transition: 0.6s;
  }
  main {
    margin-top: 5rem;
  }
  main h1 {
    border: none;
    font-size: 10vw;
  }
  header {
    width: 100%;
  }
  header nav {
    background: #060625;
    border-bottom: 3px solid #583580;
    height: 65vh;
    position: absolute;
    text-align: center;
    top: -100vh;
    transition: 0.7s;
    width: 100%;
    z-index: -1;
  }
  header nav ul li a {
    font-size: 2rem;
    margin: 0 auto;
    text-transform: uppercase;
  }
  header nav.active {
    display: block;
    top: 0%;
  }
  header nav ul {
    display: block;
    margin-top: 6rem;
    text-align: center;
  }
  .toggleLang,
  .toggleTheme {
    top: 50%;
    transform: translateY(-50%);
  }
  .toggleMenu {
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    cursor: pointer;
    display: block;
    height: 35px;
    margin: 12px 16px;
    position: absolute;
    right: 0;
    top: 0;
    transform: rotate(0deg);
    transition: 0.5s ease-in-out;
    width: 35px;
  }
  .toggleMenu span {
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    background: #583580;
    border-radius: 10px;
    display: block;
    height: 5px;
    left: 0;
    opacity: 1;
    position: absolute;
    transition: 0.25s ease-in-out;
    transform: rotate(0deg);
    width: 100%;
  }
  .toggleMenu span:nth-child(1) {
    margin-left: 2.5px;
    top: 5px;
    width: 80%;
  }
  .toggleMenu span:nth-child(2) {
    margin-left: 2.5px;
    top: 15px;
    width: 80%;
  }
  .toggleMenu span:nth-child(3) {
    margin-left: 2.5px;
    top: 25px;
    width: 80%;
  }
  .toggleMenu.open span:nth-child(1) {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    margin: 0;
    transform: rotate(135deg);
    top: 15px;
    width: 100%;
  }
  .toggleMenu.open span:nth-child(2) {
    margin: 0;
    left: -70px;
    opacity: 0;
    width: 100%;
  }
  .toggleMenu.open span:nth-child(3) {
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    margin: 0;
    top: 15px;
    transform: rotate(-135deg);
    width: 100%;
  }
  .aboutBox,
  .portfolioBox,
  .contactBox {
    border-radius: 5px;
    height: 70vh;
    margin-top: 4rem;
    width: 85vw;
  }
  .aboutHeader1,
  .aboutHeader2,
  .portfolioHeader,
  .contactHeader {
    padding: 4px;
    text-align: center;
    width: 30vw;
  }
  .aboutText {
    font-weight: normal;
    font-size: 0.75rem;
    padding: 1rem;
    width: 70%;
  }
  .aboutSkills {
    width: 60vw;
    padding: 20px;
  }
  .aboutSkills p {
    font-size: 0.8rem;
  }
  .swiper {
    width: 80%;
    height: 85%;
    border-radius: 20px;
    border: 3px solid #583580;
  }
  .swiper-slide-header {
    width: 30vw;
  }
  .swiper-slide img {
    max-width: 100%;
    width: 100%;
    height: auto;
    min-height: 70vh;
  }
  .msb_text {
    margin: 28px auto;
  }
  footer {
    border-radius: 10px;
    bottom: 0;
    padding: 12px;
    position: relative;
    transform: none;
    top: 0;
    width: 75vw;
  }
}
