:root
{
  --navDesktop: rgb(201, 188, 146);
}
.animBox, .borderBox, .aboutBox, .portfolioBox, #btnGo,
.containerLogo, .toggleMenu span, .contactBox, footer 
{
  background: var(--textColorWhite);
}

body, .toggleMenu.open span,
#btnGo:hover
 {
  background: var(--bgColorWhite);
}

.contact input[type=email],
.contact textarea,
.contact input[type=text]
{
  background: #333;
}

.animBox
{
  border-color: var(--textColorWhite);
}

.animText
{
    color: var(--bgColorWhite);
}

.visitCounter
{
	background: var(--textColorWhite);
	border-color: var(--textColorWhite);
}

.visitText, .visitCount
	{
		color: var(--bgColorWhite);
	}

.containerLogo {
  color: ghostwhite;
  text-shadow: 1px 3px 6px #000000;
}
.containerLogo:hover {
  background-color: transparent;
  text-shadow: 0px 0px 0px #000000;
  color: var(--textColorWhite);
}

.containerLogo.active
{
  color: var(--bgColorWhite);
}

.toggleLang,
.toggleTheme
{
  color: var(--textColorWhite);
  text-shadow: 0.5px 0.5px var(--textColorWhite);
}

.toggleMenu
{
  border-color: var(--textColorWhite);
}

.toggleMenu.active
{
  border-color: var(--bgColorWhite);
}

.toggleTheme.active, .toggleLang.active,
.toggleMenu.open span
{
  color: cornsilk;
}

.themeClosepicker button,
.langClosepicker button {
  border: 1.5px solid grey;
  color: var(--bgColorWhite);
  background-color: #333;
}

header {
  background: rgba(12, 12, 12, 0.1);
  box-shadow: 0px 1px #434343;
  border-bottom: 2px solid var(--textColorWhite);
}

header.scroll 
{
	background: cornsilk;
}
header nav ul li a {
  color: ghostwhite;
  text-shadow: 2px 6px 4px #000000;
}
header nav ul li a:hover {
  text-shadow: 2px 4px 6px #000000;
}

header nav ul li a.active, header nav ul li a:hover,
.about, .aboutSkills p, .skillsCol1, .skillsCol2 {
  color: cornsilk;
}

.aboutBox
{
  border: 1px solid var(--bgColorWhite);
}

.aboutBox,
.iconContainer a,
.iconContainer i, .portfolio h2
{
  color: var(--bgColorWhite);
}

.aboutSkills, .skillsText3,
.aboutHeader1, .aboutHeader2
{
  color: ghostwhite;
  background: #333;
  border: 3px solid transparent;
}

.contactHeader,
main h1, .projectsBox,
#btnGo:hover, main h1, main h5
{  
  color: var(--textColorWhite);
}

.iconContainer i:hover {
  color: bisque;
}

.portfolioHeader, .boxInfo, .contactHeader p 
{
  color: ghostwhite;
}

.contact input[type=email],
.contact textarea,
.contact input[type=text] {
  color: ghostwhite;
  box-shadow: 0 0 5px black;
}

.contact::placeholder 
{
  color: var(--textColorWhite);
}

.contactBox 
{
  border-color: var(--textColorWhite);
}

.contact input[type=submit] {
  background-color: transparent;
  color: var(--bgColorWhite);
  border: 2px solid var(--bgColorWhite);
}

.contact input[type=submit]:active {
  border-color: transparent;
  background-color: #111;
  color: var(--textColorWhite);
}

.mailSendBox, .msb_button
{
	background: var(--textColorWhite);
	border: 3px solid var(--bgColorWhite);
	color: var(--bgColorWhite);

}

h1.msb_confirmed, h1.msb_refused
{
  border: 3px solid var(--textColor);
}

footer
{
    border: 2px solid var(--textColorWhite);
    color: var(--textColorWhite);
}

/***************************************/
/*************** MOBILE ****************/
/***************************************/

@media (max-width: 775px) 
{

  .scrollUp 
  {
    background: #0e0e05e0;
    color: var(--bgColorWhite);
    border-color: var(--bgColorWhite);
  }

  .animation span:nth-child(3n+1) {
    color: var(--textColorWhite);
    text-shadow: 2px 2px black;
  }

  .aboutBox, .projectsBox
  {
    color:var(--bgColorWhite);
  }
.aboutSkills,
.aboutHeader1,.aboutHeader2, .aboutHeader3,
.aboutText, .portfolioHeader, .contactHeader
{
  color: ghostwhite;
  background: #333;
  border: 3px solid transparent;
}

header nav
{
  background-color: var(--textColorWhite);
  border-bottom-color: var(--bgColorWhite);
}

#btnGo
{
    color: var(--bgColorWhite);
    border: 0px solid transparent;
}

#btnGo:hover 
{
    border: solid var(--textColorWhite);
}

.swiper
{
  border-color: var(--bgColorWhite);
}

.swiper-slide-header, .swiper-slide-headerIcons, .swiper-pagination-fraction
{
  background: var(--textColorWhite);
  border: 3px solid var(--bgColorWhite);
}

}