*
{
border: 0;
margin: 0;
outline: 0;
padding: 0;
}

// LESS Variables
@darkBlue: rgb(6, 6, 37);
@gradient:linear-gradient(to right, #434343, #000000);
@text-color: ghostwhite;
@theme-color: #005C97;

// styleRed.css
@gradientRed: linear-gradient(to right, #e73827, #f85032);  
@bloodyColor: rgb(114, 26, 44);
@crimson: crimson;
@textColorRed: rgb(224, 215, 178);

// styleWhite.css
@bgColorWhite: cornsilk;
@textColorWhite: #1b1b1b;

// styleGreen.css
@gradientGreen: linear-gradient(to left, #2C7744, #5A3F37); 
@greenColor: rgb(22, 39, 10);
@textColorGreen: rgb(224, 215, 178);

:root
{
	// StyleRed.css
	
 	--bgColor: @gradientRed;
	--blodyColor: @bloodyColor;
	--crimsonColor: @crimson;
  	--textColor: @textColorRed;

	// StyleWhite.css
	--bgColorWhite: @bgColorWhite;
    --textColorWhite: @textColorWhite;

	// StyleGreen.css
	--bgColorGreen: @gradientGreen;
	--greenColor: @greenColor;
 	--textColorGreen: @textColorGreen;
}

.borderBox
{
	background: @darkBlue;
    border-radius: 5px;
	border: 1px solid @theme-color;
	margin-top: 4rem;
}

.sectionValues
{
	display: inline-block;
    height: 100vh;
    margin: 0 auto;
	width: 100vw;
}

body
{
    background: @gradient;
	box-sizing: border-box;
	font-family: sans-serif;
}

.animText
{
	color: @text-color;
    display: inline-block;
	font-family:'Jua', sans-serif;
    font-size: 4.5vw;
    text-align: left;
}

.scrollUp, .fas.fa-arrow-circle-up
{
	display: none;
}

.container, .about, .portfolio, .contact
{
	.sectionValues;
}

.containerLogo
{
	background-color: @theme-color;
	border: 1px solid @theme-color;
    border-color: @text-color;
	border-radius: 5px;
	color: @text-color;
    float: left;
	font-family: 'Jua', sans-serif;
	font-size: 1.2rem;
	margin: 10px;
	padding: 8px;
	text-decoration: none;
	text-shadow: 1px 3px 6px #000000;
}
.containerLogo:hover
{
	background-color: transparent;
	cursor: pointer;
    text-shadow: 0px 0px 0px #000000;
    transition: 2s;
}

.toggleLang, .toggleTheme
{
	color: @theme-color;
	float: left;
	font-size: 2.0rem;
	height: 35px;
	margin: 5px auto;
	padding: 8px;
	text-shadow: 0px 1px @text-color;
	width: 35px;
}

.toggleMenu
{
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	cursor: pointer;
	display: none;
	height: 35px;
	margin: 16px;
	position: absolute;
	right: 0px;
	transform: rotate(0deg);
	transition: .5s ease-in-out;
	width: 35px;
}

.toggleMenu span
{
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	background: @theme-color;
	border-radius: 10px;
	display: block;
	height: 5px;
	left: 0;
	opacity: 1;
	position: absolute;
	transition: .25s ease-in-out;
	transform: rotate(0deg);
	width: 100%;
}

.toggleMenu span:nth-child(1)
{
	top: 5px;
	width: 100%;
}
.toggleMenu span:nth-child(2)
{
	top: 15px;
	margin-left: 25%;
	width: 75%;
}
.toggleMenu span:nth-child(3)
{
	top: 25px;
	margin-left: 40%;
	width: 60%;
}
.toggleMenu.open span:nth-child(1)
{
	-webkit-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	margin: 0;
	transform: rotate(135deg);
	top: 15px;
	width: 100%;
}
.toggleMenu.open span:nth-child(2)
{
	margin: 0;
	left: -70px;
	opacity: 0;
	width: 100%;
}
.toggleMenu.open span:nth-child(3)
{
	-webkit-transform: rotate(-135deg);
	-moz-transform: rotate(-135deg);
	-o-transform: rotate(-135deg);
	margin: 0;
	top: 15px;
	transform: rotate(-135deg);
	width: 100%;
}

// Theme and Lang pickers
.themePicker, .langPicker
{
	border-radius: 5px;
	float: left;
	height: 40px;
	margin-left: 10px;
	margin-top: 8px;
	width: 60px;

	.themeClosepicker, .langClosepicker
		{
			margin-left: 10px;
			position: absolute;
			top: 1.5rem;
		}
}

.themeClosepicker button, .langClosepicker button
{
    background-color: @darkBlue;
    border: 1.5px solid grey;
    border-radius: 50%;
    color: @theme-color;
    font-weight: bold;
    font-size: 10px;
    height: 20px;
    width: 20px;
}

.themeDefault
{
    background-color: @theme-color;
}

.themeRed
{
	background: @gradientRed;
}

.themeLime
{
	background: @gradientGreen;
}

.themeWhite
{
	background: @bgColorWhite;
}

.themeRed, .themeLime, .themeWhite, .themeDefault,
.langEn, .langPl, .langUa, .langDe
{	
	border-radius: 20%;
	box-shadow: 2px 2px #333;
	float: left;
	height: 20px;
	margin: 3px 1px;
	width: 20px;
}

header
{
	
	box-shadow: 0px 1px #434343;
    left:0;
	position:fixed;
    right:0;
    top:0;
    width: 100%;
	z-index: 1;
}

header.scroll 
{
	background: @darkBlue;
}

header nav
{
	background-color: transparent;
	float: right; 
}

header nav ul{display: flex;}
header nav ul li{list-style: none;}
header nav ul li a
{
	color: @text-color;
    display: block;
	font-family: 'Jua', sans-serif;
	font-size: 1.6rem;
    height: 50px;
    line-height: 50px;
	padding: 10px 10px;
	text-decoration: none;
	text-shadow: 2px 6px 4px #000000;
}

header nav ul li a:hover
{	
	color: @theme-color;
	text-decoration: none;
	text-shadow: 2px 4px 6px #000000;
	transition: 0.3s;
}

header nav ul li a.active{color: @theme-color; }

main
{
	height: 50%;
	margin: 10% auto;
	width: 85%;
}

main h1
{
	color: @text-color;
	font-family: 'Jua', sans-serif;
    font-size: 3rem;
	padding: 15px;
    text-align: center;
}

main h5
{
    color: @text-color;
    font-size: 1.5rem;
    margin: 12px;
    padding: 0px;
}

#btnGo
{
   display: none;
}

.about
{	
	display: flex;
    height: 100vh;
	width: 100%;
}

.aboutBox
{
	background: @darkBlue;
	border: 1px solid @theme-color;
	border-radius: 10px;
	color: @text-color;
	height: 80vh;
	margin: 5% auto;
	padding: 0px;
	position: relative;
	width: 70vw;
}

.aboutBox h2, #aboutText3, #skillsText3
	{
		background: @theme-color;
		border-radius: 10px;
		width: 30vw;
		margin: 14px auto;
		padding: 10px;
		font-size: 22px;
		box-shadow: 0 0 5px black;
		text-align: center;
		font-family: 'Jua', sans-serif;
		font-weight: bold;
	}

.aboutBox p
{
    margin: 0 auto;
	width: 90%;
}

#aboutText3
{	
	font-size: 2rem;
	text-align: center;
}

#aboutText2
{
	background: @theme-color;
	box-shadow: 0 0 5px black;
	border-radius: 5px;
	font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    font-size: 0.75rem;
	width: 70%;
	padding: 1.2rem;
	word-wrap: break-word;
}

#skillsCol1, #skillsCol2
{	
	color: @text-color;
	display: inline-block;
	font-size: 1.5rem;
	height: 20%;
	margin: 0 auto;
	width: 50%;

	p
	{	
		font-size: 0.8rem;
		font-weight: bold;
		padding: 2px;
	}

	li
	{
		font-size: 0.8rem;
		font-weight: bold;
		list-style-position: inside;
		list-style-type: disclosure-closed;
	}
}
.aboutSkills
{
	display: flex;
	margin: 0 auto;
	width: 60vw;
	height: 10vh;
	background: @theme-color;
	border-radius: 5px;
	box-shadow: 0 0 5px black;
	padding: 20px;

	p
	{
		font-size: 0.5rem;
		text-align: center;
	}

}

.iconContainer
{
	align-items: center;
	bottom: 0;
	display: flex;
	font-size: 2.0rem;
	justify-content: center;
	position: absolute;
	width: 100%;
}

.iconContainer a, .iconContainer i
{	
	color: @text-color;
	margin: 0.2rem;
	text-decoration: none;
}

.iconContainer i:hover
{
	color: @theme-color;
	transition: 1s;
}

.boxInfo
{
	font-family: 'Jua', sans-serif;
    font-size: 2.5rem;
    margin: 0 auto;    
	width: 90%;
}

.fab.fa-html5{color: orangered;}
.fab.fa-css3-alt {color: navy;}
.fab.fa-js-square {color: yellow;}
.fab.fa-php {color: darkgrey;}
.fas.fa-database {color: forestgreen;}
.fab.fa-unity {color: black;}
.fa-solid.fa-c {color:violet;}

.portfolioBox
{
	background-color: @darkBlue;
    height: 50vh;
	margin: 0 auto;
	width: 90vw;
}

.portfolio h2
{
	color: @text-color;
	font-size: 5vw;
	text-align: center;
}

.project
{
	background: @theme-color;
    border: 2px solid @text-color;
	display: inline-block;
	height: 20vh;
	position: relative;
	width: 20vw;
}

.content
{
	color: #fff;
	font-size: 0.8rem;
	left: 50%;
	position: absolute;
	text-transform: uppercase;
	top: 50%;	
	transform: translate(-50%, -50%);
}

.content span
{
	display: inline-block;
	font-size:1.2rem;
}

.overlay
{
	background: @darkBlue;
	bottom: 0;
	height: 0;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	transition: 0.4s ease;
	width: 100%;
}

.project:hover .overlay
{
	height: 100%
}

.content
{
	height: 60%;
	margin: 5% auto;
	width: 85%;
}

.contactBox
{
	background: @darkBlue;
	height: 75vh;
	margin: 0 auto;
	width: 75vh;
}

.contactBox form
  {
    height: 80%;
    text-align: center;
    width: 100%;
  }

.contactBox form
{
	height: 80%;
	text-align: center;
	width: 100%;
}
.contactBox h1, p
{
	color: @text-color;
	font-family: 'Jua', sans-serif;
	font-size: 1.1rem;
}

input[type=email], textarea
{
	border: 2px inset @text-color;
    resize: none;
	text-align: left;
	width: 80%;

}
textarea
{
	height: 65%;
	text-align: justify;
}

input[type=submit]
{
	background-color: transparent;
	color: @text-color;
	border: 2px solid @text-color;
    padding: 7px;
	text-align: center;
	width: 75px;
}
input[type=submit]:active
{
	border-color: transparent;
	background-color: @text-color;
	color: @theme-color;
}

input[type=number]
{
    margin-left: 10px;
    width: 50px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

footer 
{
	background: @darkBlue;
	border: 1px solid @theme-color;
	border-radius: 10px;
	padding: 10px;
	position: relative;
	top: 20%;
	transform: translateX(10%);
	width: 100%;
	
	p,a
	{
		color: @text-color;
		text-align: center;
		text-decoration: none;
	}
}

/***************************************/
/*************** MOBILE ****************/
/***************************************/
@media (max-width: 775px)
{
.sectionValues
{
	display: inline-block;
    height: 100vh;
    margin: 0 auto;
	width: 80vw;
}

.fas.fa-arrow-circle-up
    {
    display: inherit;
    }

.scrollUp
{
	color: @text-color;
	display: none;
	font-size: 3rem;
	position: fixed;
	left: 80vw;
	top: 85vh;
	z-index: 1;
}

.fa-arrow-circle-up:before
{
    border: 5px solid #333;
    border-radius: 50%;
}

.contact-box h1, main h1
{
	color: @text-color;
	font-family: 'Jua', sans-serif;
	font-size: 2rem;
}

.container, .portfolio, .about, .contact
{
    height: 100vh;
	margin-top: 2rem auto;
    width: 100%;
}

#btnGo
{
	background-color: @darkBlue; 
	border: 1px solid @theme-color;
    border-radius: 30px;
    color: @text-color;
	cursor: pointer;
    display: block;
	font-family: 'Jua', sans-serif;
    font-size: 4vw;
    height: 10vh;
    margin: 0 auto;
    text-decoration: none;
    width: 30vw;
}

    #btnGo:hover
{
	background-color: @text-color;
	border:1px solid @text-color;
	color: @theme-color;
	transition: 0.6s;
}

main
{
	margin-top: 5rem;
}

main h1
{
    border: none;
    font-size: 10vw;
}

header
{
    width: 100%;
}

.toggleMenu
{
    display: block;
}

header nav
{
    background: #111;
    height: 100vh;
    position:absolute;
    text-align: center;
    top: -100vh;
    transition: 0.7s;
    width: 100%;
    z-index: -1;
}

header nav ul li a
{
    font-size: 2rem;
    margin: 0 auto;
    text-transform: uppercase;
}

header nav.active
{
    display: block;
    top: 0%;
}

header nav ul
{
    display: block;
	margin-top: 4rem;
    text-align: center;
}

.aboutBox
{
	.borderBox;
	height: 80vh;
	width: 90vw;
}

.aboutBox h2, #aboutText3
{
	background: @theme-color;
	border-radius: 10px;
	box-shadow: 0 0 5px black;
	font-family: 'Jua', sans-serif;
	font-size: 22px;
	font-weight: bold;
	margin: 14px auto;
	padding: 4px;
	text-align: center;
	width: 30vw;
}

#skillsText3
{
	background: @theme-color;
	border-radius: 10px;
	bottom: 5vh;
	box-shadow: 0 0 5px black;
	font-family: 'Jua', sans-serif;
	font-size: 22px;
	font-weight: bold;
	left: 50vw;
	position: absolute;
	padding: 4px;
	text-align: center;
	transform: translateX(-20vw);
	width: 30vw;
}

#skillsCol1, #skillsCol2
{
	font-size: 1rem;
}

#aboutText2
{
	font-weight: normal;
}

#portfolioText
{
	color: @text-color;
	font-family: 'Jua' , sans-serif;
	font-size: 2rem;	
	margin: 0 auto;
	padding: 10px;
	text-align: center;
	width: 50%;
}

.boxInfo
{
    color: @text-color;
    font-family: 'Jua', sans-serif;
    font-size: 5.0rem;
    margin: 0 auto;
    text-align: center;
    width: 70%;
}

.portfolioBox
{
	.borderBox;
    height: 80vh;
	width: 90vw;
}

.projectsConteiner
{
	height: 80%;
	width: 100%;
}

.project
{
	height: 25%;
	left: 25%;
	top: 30%;
	transform: translate(-50%, -50%);
	width: 25%;
}

.content
{
	color: #fff;
	font-size: 0.8rem; 
	left: 50%;
	position: absolute;
	text-align: center;
	text-transform: uppercase;
	top: 50%;
	transform: translate(-50%, -50%);
}

.content span
{
	display: block;
	font-size:1.2rem;
}

.overlay
{
	bottom: 0;
	height: 0;
	left: 0;
    margin: 0 auto;
	overflow: hidden;
	right: 0;
	transition: 0.3s ease;
	width: 100%;
}

.project:hover .overlay{height: 100%} /* icons */

.contactBox
{
	.borderBox;
    height: 75vh;
    width: 75vw;
}

.contactBox form
{
    height: 80%;
    text-align: center;
    width: 100%;
}

.contact h1#contactText
{
	font-size: 2.0rem;
	padding: 10px;
}

.contact input[type=email], .contact textarea, .contact input[type=text]
{
	background: @theme-color;
	border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px black;
    color: @text-color;
	margin: 5px;
    padding: 5px;
    resize: none;
	text-align: left;
	width: 80%;
}

.contact ::placeholder
{
	color: @text-color;
}

.contact textarea{height: 55%;}
.contact input[type=submit]
{
	background-color: transparent;
	border: 2px solid @text-color;
	color: @text-color;
	height: 3rem;
    padding: 2%;
	text-align: center;
	width: 6rem;
}

.contact input[type=submit]:active
{
	background-color: @text-color;
	border-color: transparent;
	color: @theme-color;
}

.contact input[type=number]
{
    margin-left: 10px;
    width: 50px;
}

.contact textarea
{
	height: 40%;
	text-align: justify;
}

footer 
{
	border-radius: 10px;
	left: 0;
	margin: 1rem auto;
	padding: 5px;
	transform: none;
	top: 0;
	width: 75vw;
}

}