:root
{
  --navDesktop: rgb(68, 13, 13);
}

body
{
background: #fff;
background: var(--bgColor);
}

.animBox
{
  background: var(--blodyColor);
  border: 3px solid var(--textColor);
}

.visitCounter
{
	background: var(--blodyColor);
	border: 3px solid var(--textColor);
}

.visitText, .visitCount
	{
		color: var(--textColor);
	}

.borderBox 
{
  background: var(--blodyColor);
  border: 1px solid var(--crimsonColor);
}

.containerLogo
 {
  background-color: #a50505;
  color: var(--textColor);
  text-shadow: 1px 3px 6px #000000;
}

.containerLogo:hover
{
  background-color: rgb(53, 7, 7);
}
.containerLogo.active
{
  background-color: var(--textColor);
  color: var(--blodyColor);
  text-shadow: none;
  transition: 0.5s;
}
.toggleLang,
.toggleTheme {
  color: var(--textColor);
  text-shadow: 3px 3px #111;
}

.toggleMenu
{
  border-color: var(--textColor);
}
.toggleMenu span {
  background: var(--textColor);
}

.themeClosepicker button,
.langClosepicker button {
  border: 1.5px solid grey;
  color: var(--crimsonColor);
  background-color: #333;
}

header
{
  background: var(--blodyColor);
  box-shadow: 0px 1px var(--textColor);
  border-bottom: 1px solid cornsilk;
  
}

header.scroll 
{
	background: var(--blodyColor);
}

header nav {
  background: transparent;
  border-bottom-color: cornsilk;
}

.bgNavScrolling
{
  background-color: rgb(53, 7, 7);
}

header nav ul li a {
  color: ghostwhite;
}
header nav ul li a:hover {
  color: var(--textColor);
  text-shadow: 2px 4px 6px #000000;
}
header nav ul li a.active {
  color: var(--textColor);
}

.navActive
{
  background-color: #a50505;
}

main h1 {
  color: ghostwhite;
}

main h5 {
  color: ghostwhite;
}

.skillsCol1,
.skillsCol2 {
  color: ghostwhite;
}

.aboutBox, .portfolioBox, .contactBox 
{
  background: var(--blodyColor);
  border: 3px solid var(--textColor);
}

.aboutHeader1, .aboutHeader2, .portfolioHeader, .contactHeader
{
  color: ghostwhite;
  background: rgb(53, 7, 7);
  border: 3px solid var(--textColor);
}

.aboutText, .aboutSkills
{
  background: transparent;
  border: 3px solid cornsilk;
}

.iconContainer a,
.iconContainer i {
  text-decoration: none;
  color: ghostwhite;
}

.iconContainer i:hover 
{
  color: var(--crimsonColor);
}

.fab.fa-html5 {  /* better contrast for HTML icon */
  color: whitesmoke;
}

.boxInfo {
  color: var(--textColor);
}


.swiper
{
  border-color: var(--textColor);
}

.swiper-slide-header, .swiper-slide-headerIcons, .swiper-pagination-fraction
{
  background: var(--blodyColor);
  border: 3px solid var(--textColor);
}

.contact-box h1, p 
main h1 {
  color: var(--textColor);
}

.contact input[type=email],
.contact textarea,
.contact input[type=text] {
  border: 3px solid var(--textColor);
  color: var(--textColor);
  background: var(--blodyColor);
}
.contact ::placeholder {
  color: var(--textColor);
}

.contact input[type=submit] {
  background-color: transparent;
  color: var(--textColor);
  border: 3px solid var(--textColor);
}

.contact input[type=submit]:active {
  border-color: 3px solid var(--textColor);
  background-color: cornsilk;
  color: var(--blodyColor);
}

.mailSendBox
{
	background: var(--blodyColor);
	border: 3px solid var(--textColor);
}

h1.msb_confirmed, h1.msb_refused
{
  border: 3px solid var(--textColor);
}

.msb_button
{
	background: var(--crimsonColor);
	border: 3px solid var(--textColor);
	color: var(--textColor);
}

footer
{
  border-top: 3px solid var(--textColor);
  background: var(--blodyColor);
  color: ghostwhite;
}

@media (max-width: 775px) {

  .scrollUp 
  {
    background: rgb(53, 7, 7);
    color: var(--textColor);
    border-color: var(--textColor);
  }

  .fa-arrow-circle-up:before {
    border: 5px solid #333;
  }

  header nav
  {
    background-color: var(--navDesktop);
  }

header nav ul li a
  { 
    background-color: var(--crimsonColor);
    border-color: var(--textColor);
  }

  #btnGo {
    background-color: var(--blodyColor);
	  border: 3px solid var(--textColor);
    color: ghostwhite;
  }

  #btnGo:hover {
    background-color: var(--textColor);
    color: var(--blodyColor);
    border: 3px solid var(--blodyColor);
  }


}
