body
{
	background: ghostwhite;
}

.animation span:nth-child(3n+1) /* */
{
    color: silver;
    text-shadow:0px 0px;
}

.animation
{
    color: black;
}
.container-logo
{
	border-color: #333;
	background-color: whitesmoke;
    color: #333;
	text-decoration: none;
	text-shadow: 0px 0px 1px #000000;
}

.container-logo:hover
{
	background-color: #333;
	color: whitesmoke;
    border-color: #333;
}

.toggle-theme
{
	color: #333;
    -webkit-text-stroke-width: 0px;
    text-shadow: 0px 0px 0px #000000;
}

.toggle-menu span
{
    background: #333;
}

.container .theme-closepicker button
{
    color: cornsilk;
}
header nav ul li a
{
	color: #333;
	text-shadow: 0px 0px 0px black;
}

header nav ul li a:hover
{
	color: whitesmoke;
	text-shadow: 2px 4px 6px #000000;
}

header nav ul li a.active
{
    color: gray;
}

main h1, h4
{
	color: #333;
    border-color: #333;
}

#btn-go

{

	background-color: ghostwhite;
    border: 3px solid #333;
    color: #333;
	text-shadow: 1px 0px 1px gray;
}

#btn-go:hover
{
	background-color: #333;
	color: white;
	border: none;
}

.about button:hover
{
    border:3px solid white;
    border-color: ghostwhite;
}
main h5
{
    color: #333;
}

.portfolio, .contact
{

	background: ghostwhite;
}

.project 
{
border: 2px solid ghostwhite;
background: ghostwhite;
border: 3px solid #333;
}
.overlay{
background: rgba(0, 0, 0, 0.6);

}
.contact-box
{
	border: 2px solid whitesmoke;
	background: #333;
}

.contact-box h1, p
{
	color: ghostwhite;
}
input[type=email], textarea
{
	border: none;
}

input[type=submit]
{
	color: whitesmoke;
	border: 2px solid ghostwhite;
}

input[type=submit]:active
{
	border: 4px solid #00b4db;
	background-color: ghostwhite;
	color: #00b4db;
}
.box-info
{
    color: black;
}
.about-content
{
	background-color: #333;
	border: none;
    color: ghostwhite;
}
.about p, h2
{
    color: ghostwhite;
}

.about button.cv a 
{
    color: #333;
}

.about button.cv:hover
{
    border-color: none;
    background-color: ghostwhite;
}
.fab.fa-html5 {color: #e34f26;}
.fab.fa-css3-alt {color:mediumblue;}
.fab.fa-js-square {color: #f7df1e;}
.fab.fa-facebook-square {color: #3B5998;}
.fab.fa-github {color: #6e5494;}

/*************** MOBILE ***************/
@media (max-width: 720px)
{
 .scroll-up
    {
        color: #333;
    }
    header nav
    {
        background: whitesmoke; 
    }
    header nav ul li a
    {
        text-transform: uppercase;
        color: #333;
		text-shadow: 0px 0px 0px #000000;
    }
.contact-box
{
background: transparent;
    border-color: #333;
}
.contact-box h1
    {
        color: #333;
    }
.contact input[type=email], .contact textarea, .contact input[type=text]
{
	border-bottom: 1px solid silver;
    color: #333;
    background: transparent;
}
.contact ::placeholder
    {
        color: #333;
    }
.contact textarea
{
    border: none;
}
.contact input[type=submit]
{
	background-color: transparent;
	color: #333;
	border: 2px solid #333;
}
.contact input[type=submit]:active
{
	border-color: transparent;
	background-color: #333;
	color: ghostwhite;

}