body
{
background: #fff;
background: var(--bgColorGreen);
background: var(--bgColorGreen-ie);
}

.contact-box h1, main h1, #portfolioText, 
.contact h1#contactText,
.boxInfo, .animation, .scrollUp,
.containerLogo, header nav ul li a, 
header nav ul li a:hover, .aboutContent,
.portfolio h2, .aboutContent h2,
main h1, main h5, #skillsCol1,
#skillsCol2, .iconContainer a,
.iconContainer i, .contact ::placeholder,
#btnGo, footer, .contact input[type=submit],
.contact input[type=email],
.contact textarea,
.contact input[type=text]
{
  color: var(--textColorGreen);
}

.borderBox {
  background: var(--greenColor);
  border: 1px solid var(--greenColor);
}

.animation span:nth-child(3n+1) {
  color: whitesmoke;
  text-shadow: 2px 2px black;
}

.containerLogo {
  border: 3px solid var(--textColorGreen);
  background-color: var(--greenColor);
  border-color: var(--textColorGreen);
  text-shadow: 1px 3px 6px #000000;
}
.containerLogo:hover {
  background-color: transparent;
  text-shadow: 0px 0px 0px #000000;
}

.toggleLang,
.toggleTheme {
  color: white;
  text-shadow: 3px 3px #111;
}

.toggleMenu span {
  background: whitesmoke;
  box-shadow: 2px 2px #111;
}

.themeClosepicker button,
.langClosepicker button {
  border: 1.5px solid grey;
  color: greenyellow;
  background-color: #333;
}

header {
  box-shadow: 0px 2px var(--textColorGreen);
}

header nav {
  background: var(--greenColor);
}

header nav ul li a {
  text-shadow: 2px 6px 4px #000000;
}

header nav ul li a:hover {
  text-shadow: 2px 4px 6px rgb(85, 151, 85);
}

header nav ul li a.active {
  color: rgb(85, 151, 85);
}

#btnGo {
  display: none;
}

.aboutContent {
  background: var(--greenColor);
  border: 3px solid var(--textColorGreen);
}

.iconContainer i:hover {
  color: greenyellow;
  transition: 1s;
}

.projectsBox {
  background: var(--greenColor);
  border: 3px solid var(--textColorGreen);
}


.project {
  border: 3px solid var(--textColorGreen);
  background: var(--bgColorGreen-ie);
}

.content {
  color: #fff;
}

.overlay {
  background: var(--greenColor);
}

.contactBox {
  background: var(--greenColor);
  border: 3px solid var(--textColorGreen);
}

  .contact input[type=email],
  .contact textarea,
  .contact input[type=text] {
  border: 2px solid var(--textColorGreen);
  background: var(--greenColor);
  box-shadow: 0 0 5px var(--textColorGreen);
}

.contact input[type=submit] {
  background-color: transparent;
  border: 2px solid var(--textColorGreen);;
}
.contact input[type=submit]:active {
  border-color: 3px solid var(--textColorGreen);
  background-color: cornsilk;
  color: var(--greenColor);
}

footer {
  border: 3px solid var(--textColorGreen);
  background: var(--greenColor);

}

/* Mobile version */

@media (max-width: 775px)
 {
 
  #btnGo {
    background-color: var(--greenColor);
	  border: 3px solid var(--textColorGreen);
    display: block;
  }

  #btnGo:hover {
    background-color: var(--textColorGreen);
    color: var(--greenColor);
    border: 3px solid var(--greenColor);
  }
  
}