body
{
background: -webkit-linear-gradient(to right, #e73827, #f85032); 
background: linear-gradient(to right, #e73827, #f85032);     
}
.animation span:nth-child(3n+1) /* */
{
    color: navajowhite;
    text-shadow:0px 0px;
}
.container-logo
{
	border-color: cornsilk;
	background: transparent; 
    color: cornsilk;
	text-decoration: none;
}
.container-logo:hover
{
	background-color: cornsilk;
	color: #f85032;
    border-color: cornsilk;
	text-shadow: 1px 3px 6px cornsilk;
}
.toggle-theme, .toggle-lang
{
    color: cornsilk;
    -webkit-text-stroke-width: 0px;
    text-shadow: 2px 2px 2px #000000;
}
.toggle-menu span{background: cornsilk;}

.theme-closepicker button, .lang-closepicker button
{
    color: #e73827;
}

header
{
   background: rgba(10, 10, 10, 0.3);
   box-shadow: 0px 2px darkred;
}

header nav ul li a
{
	color: cornsilk;
	text-shadow: 2px 6px 4px #000000;
	
}
header nav ul li a:hover
{
	text-decoration: none;
	color: #ed213a;
	text-shadow: 2px 4px 6px #000000;
}
header nav ul li a.active{color: lightyellow;}
main h1, main h4, main h5{color: cornsilk;}

#btn-go
{
	background-color: transparent;
    border: 2px solid cornsilk;
    color: cornsilk;
    text-decoration: none;
	text-shadow: 1px 1px 2px gray;
}
#btn-go:hover
{
	background-color: cornsilk;
	color: #f85032;
	border-color: cornsilk;
}

.portfolio, .project, .container, .skills
{
	background: transparent;  
}
.project {border: 2px solid ghostwhite;}
.overlay{background: crimson;}
.about-content
{
	background-color: transparent;
	border: 3px solid white;
    color: cornsilk;
}
#btn-go
{
	background-color: transparent;
    border: 2px solid cornsilk;
    color: cornsilk;
    margin-top: 30px;
	text-shadow: 1px 0px 1px gray;
}

.contact ::placeholder
{
	color: silver;
	font-weight: bold;
}
input[type=submit]
{
	background-color: transparent;
	color: whitesmoke;
	border: 2px solid ghostwhite;

}
input[type=submit]:active
{
	border: 4px solid #00b4db;
	background-color: ghostwhite;
	color: #00b4db;
}
input[type=number]
{
    border: 2px inset crimson;
}
/*************** MOBILE ***************/
@media (max-width: 720px)
{

header nav
{
    background: #111;
    background: -webkit-linear-gradient(to right, #e73827, #f85032); 
    background: linear-gradient(to right, #e73827, #f85032); 
}
.contact-box
{
	background: transparent;
}
.contact input[type=email], .contact textarea, .contact input[type=text]
{
	 color: white;
    border: 2px solid cornsilk;
    background: transparent;
    }

.contact ::placeholder
{
	color: ghostwhite;
}

.contact input[type=submit]
{
	background-color: transparent;
	color: whitesmoke;
	border: 2px solid ghostwhite;
}
.contact input[type=submit]:active
{
	border-color: transparent;
	background-color: ghostwhite;
	color: #005C97;
}

@media (max-width:768px)
{
select, option
{
    background: transparent;
    background-color: crimson;    
}

header nav
{
    position:absolute;
    width: 100%;
    background: rgb(114, 26, 44);
    height: 100vh;
    top: -100vh;
    transition: 0.7s;
    z-index: -1;
    text-align: center;
}

.hire input[type=text]
    {
        background-color: transparent;
        border: 2px solid ghostwhite;
        color: white;
    } 
    }
}