.animBox, .borderBox, .aboutBox, .portfolioBox, #btnGo,
.containerLogo, .toggleMenu span, .contactBox, footer {
  background: var(--textColorWhite);
}

body, .project, .toggleMenu.open span,
#btnGo:hover
 {
  background: var(--bgColorWhite);
}

.contact input[type=email],
.contact textarea,
.contact input[type=text]
{
  background: #333;
}

.animBox
{
  border-color: var(--textColorWhite);
}

.animText
{
    color: var(--bgColorWhite);
}

.containerLogo {
  border: 1px solid var(--textColorWhite);
  color: ghostwhite;
  text-shadow: 1px 3px 6px #000000;
}
.containerLogo:hover {
  background-color: transparent;
  border-color: 2px solid;
  text-shadow: 0px 0px 0px #000000;
  color: var(--textColorWhite);
}

.containerLogo.active
{
  color: var(--bgColorWhite);
  border-color: var(--bgColorWhite);
}

.toggleLang,
.toggleTheme
{
  color: var(--textColorWhite);
  text-shadow: 0.5px 0.5px var(--textColorWhite);
}

.toggleMenu
{
  border-color: var(--textColorWhite);
}

.toggleMenu.active
{
  border-color: var(--bgColorWhite);
}

.toggleTheme.active, .toggleLang.active,
.toggleMenu.open span
{
  color: cornsilk;
}

.themeClosepicker button,
.langClosepicker button {
  border: 1.5px solid grey;
  color: var(--bgColorWhite);
  background-color: #333;
}

header {
  background: rgba(12, 12, 12, 0.1);
  box-shadow: 0px 1px #434343;
}

header.scroll 
{
	background: cornsilk;
}
header nav ul li a {
  color: ghostwhite;
  text-shadow: 2px 6px 4px #000000;
}
header nav ul li a:hover {
  text-shadow: 2px 4px 6px #000000;
}

header nav ul li a.active, header nav ul li a:hover,
.about, .aboutSkills p, .skillsCol1, .skillsCol2 {
  color: cornsilk;
}

.aboutBox
{
  border: 1px solid var(--bgColorWhite);
}

.aboutBox,
.iconContainer a,
.iconContainer i, .portfolio h2
{
  color: var(--bgColorWhite);
}

.aboutSkills, .skillsText3,
.aboutHeader1, .aboutHeader2
{
  color: ghostwhite;
  background: #333;
  border: 3px solid transparent;
}

.contact-box h1,
main h1, .projectsBox,
#btnGo:hover, main h1, main h5
  {  
  color: var(--textColorWhite);
  }

.iconContainer i:hover {
  color: bisque;
}

.project {
  border-color: var(--bgColorWhite);
  background: var(--textColorWhite);
}

#portfolioText, .boxInfo, .content, .contactBox h1,
p {
  color: ghostwhite;
}

.overlay {
  background: #333;
}

.contact input[type=email],
.contact textarea,
.contact input[type=text] {
  color: ghostwhite;
  box-shadow: 0 0 5px black;
}


.contact::placeholder {
  color: var(--textColorWhite);
}

.contactBox {
  border-color: var(--textColorWhite);
}

.contact input[type=submit] {
  background-color: transparent;
  color: var(--bgColorWhite);
  border: 2px solid var(--bgColorWhite);
}

.contact input[type=submit]:active {
  border-color: transparent;
  background-color: #111;
  color: var(--textColorWhite);
}

footer
 {
    border: 2px solid var(--textColorWhite);
    color: var(--textColorWhite);
}

/***************************************/
/*************** MOBILE ****************/
/***************************************/

@media (max-width: 775px) {
  .fas.fa-arrow-circle-up {
    display: inherit;
  }

  .scrollUp 
  {
    color: var(--bgColorWhite);
    background: var(--textColorWhite);
    border-color: transparent;
  }

  .animation span:nth-child(3n+1) {
    color: var(--textColorWhite);
    text-shadow: 2px 2px black;
  }

  .aboutBox, .projectsBox
  {
    color:var(--bgColorWhite);
  }

.aboutHeader1,.aboutHeader2, .aboutHeader3,
.aboutText, .portfolioHeader, .contactHeader
{
  color: ghostwhite;
  background: #333;
  border: 3px solid transparent;
}

.aboutSkills
{
  background: #333;
  border: 3px solid transparent
}

header nav
{
  background-color: var(--textColorWhite);
  border-bottom: 3px solid transparent;
}

  #btnGo {
    color: var(--bgColorWhite);
    border: 0px solid transparent;
  }
  #btnGo:hover {
    border: solid var(--textColorWhite);
  }

  .aboutBox, .portfolioBox, .contact-box
{
  border: 1 px solid var(--bgColorWhite);
}
}