body
{
background: -webkit-linear-gradient(to right, #e73827, #f85032); 
background: linear-gradient(to right, #e73827, #f85032); 
}
.container-logo
{
	border-color: cornsilk;
	background-color: transparent;
    color: cornsilk;
	text-decoration: none;
}
.container-logo:hover
{
	background-color: cornsilk;
	color: #f85032;
    border-color: cornsilk;
	text-shadow: 1px 3px 6px cornsilk;
}
.toggle-theme {
    color: cornsilk;
    -webkit-text-stroke-width: 0px;
    text-shadow: 2px 2px 2px #000000;
}

.toggle-menu span{background: cornsilk;}

.theme-closepicker button
{
    color: #e73827;
}
header nav ul li a
{
	color: cornsilk;
	text-shadow: 2px 6px 4px #000000;
}
header nav ul li a:hover
{
	text-decoration: none;
	color: #ed213a;
	text-shadow: 2px 4px 6px #000000;
}
header nav ul li a.active{color: lightyellow;}
main h1, main h4, main h5{color: cornsilk;}

main button
{
	background-color: transparent;
    border: 2px solid cornsilk;
    color: cornsilk;
    text-decoration: none;
	text-shadow: 1px 1px 2px gray;
}
main button:hover, .contact button:hover, .portfolio button:hover
{
	background-color: cornsilk;
	color: #f85032;
	border-color: cornsilk;
}

.about button.cv
{
    background-color: ghostwhite;
    border: none;
}
.about button.cv a
{
    color: crimson;
}
.portfolio, .contact, .project
{
	background: -webkit-linear-gradient(to right, #e73827, #f85032); 
	background: linear-gradient(to right, #e73827, #f85032);  
}
.project {border-bottom: 2px solid ghostwhite;, border-top: 2px solid ghostwhite;}
.overlay{background: crimson;}
.about-content
{
	background-color: transparent;
	border: 3px solid white;
    color: cornsilk;
}
main button, .portfolio button, .contact button, .about button, .skills button
{
	background-color: transparent;
    border: 2px solid cornsilk;
    color: cornsilk;
	text-shadow: 1px 0px 1px gray;
}
.contact-box
{
	border: 2px solid whitesmoke;
	background: -webkit-linear-gradient(to right, #e73827, #f85032); 
	background: linear-gradient(to right, #e73827, #f85032); 
}
.contact-box h1, p
{
	color: ghostwhite;
}
input[type=submit]
{
	background-color: transparent;
	color: whitesmoke;
	border: 2px solid ghostwhite;

}
input[type=submit]:active
{
	border: 4px solid #00b4db;
	background-color: ghostwhite;
	color: #00b4db;
}
input[type=number]
{
    border: 2px inset crimson;
}
/*************** MOBILE ***************/
@media (max-width: 720px)
{
header nav
{
    background: #111;
    background: -webkit-linear-gradient(to right, #e73827, #f85032); 
    background: linear-gradient(to right, #e73827, #f85032); 
}
.contact-box
{
	background: transparent;
}
.contact input[type=email], .contact textarea, .contact input[type=text]
{
	border-bottom: 1px solid silver;
    color: white;
    background: transparent;
}
.contact ::placeholder
{
	color: ghostwhite;
}
.contact textarea
{
    border: none;
}
.contact input[type=submit]
{
	background-color: transparent;
	color: whitesmoke;
	border: 2px solid ghostwhite;
}
.contact input[type=submit]:active
{
	border-color: transparent;
	background-color: ghostwhite;
	color: #005C97;
}

@media (max-width:768px)
{
select, option
{
    background: linear-gradient(to right, #e73827, #f85032); 
    background-color: crimson;    
}
.hire input[type=text]
    {
        background-color: transparent;
        border: 2px solid ghostwhite;
        color: white;
    } 
}