body
{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	box-sizing: border-box;
	font-size: 12px;
}
.hire
{
	width: 85%;
	height: 100vh;
}

@media (max-width:768px)
{
	
.hire
{
	width: 100%;
	text-align: center;
} 

.hire p
{
	text-align: justify;
	font-size: 0.9rem;
	letter-spacing: 1px;
}
select
{
	text-align: center;
	border: none;
	width: 65%;
	height: 50px;
	margin: 5px;
	border: 2px solid ghostwhite;
    color: ghostwhite;
    background-color: #005C97;
}

option
{
background-color: #005C97;
}
.hire input[type=text]
{
		margin: 0 auto;
		width: 100px;
		
}
select:focus
{
	font-weight: bold;
}
.hire input[type=submit]
{
    width: 75px;
}	

.hire p:nth-child(5)
 {
    text-align: center;
	margin: 0 auto;
     width: 65%;
}
.hire input[type=text]
    {
        background-color: #005C97;
        border: 2px solid ghostwhite;
        float:right;
        color: white;
    }
}