
.projects-box
{
	width: 100%;
    height: 100%;
    margin: 0 auto;
    display: inline-block;
}
.project 
{
 width: 40%;
 height: 23%;
 border: 2px solid ghostwhite;
 display: inline-block;
 background: #005C97;
background: -webkit-linear-gradient(to right, #363795, #005C97); 
background: linear-gradient(to right, #363795, #005C97);
 position: relative;
 left: 15%;
    top: -10%;
transform: translate(-15%, -10%);
}
.content{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
color: #fff;
text-transform: uppercase;
font-size:0.8rem;
white-space: nowrap;
}
.content span{
font-size:1.4rem;
display: block;
}
.overlay{
position: absolute;
bottom: 0;
left: 0;
right: 0;
background: rgba(49, 209, 129, 0.6);
width: 100%;
height: 0;
transition: 0.4s ease;
overflow: hidden;
}
.project:hover .overlay{
height: 100%
}

.fab.fa-html5 {color: orangered;}
.fab.fa-css3-alt {color:darkblue;}
.fab.fa-js-square {color: yellow;}
.fab.fa-php {color: darkgrey;}
.fas.fa-database {color: forestgreen;}