
body
{
background: #FDFC47;  
background: -webkit-linear-gradient(to right, #24FE41, #FDFC47);  
background: linear-gradient(to right, #24FE41, #FDFC47); 
	
}

.container-logo
{
	border: 3px solid ghostwhite;
	background-color: transparent;
    color: ghostwhite;
	text-decoration: none;
	text-shadow: 1px 3px 6px #000000; 
}

.container-logo:hover
{
	background-color: ghostwhite;
	color: #a8ff78;
    border: 3px dashed ghostwhite;
    transition: 1000ms;
    text-shadow: 2px 2px 2px #000000;
}

.toggle-theme
{
	color: ghostwhite;
    text-shadow: 2px 3px 4px #000000;
	font-size: 2.4rem;
}

#theme-lime
{
border: 1px solid #333;
}

#theme-default
{
    border: none;
}

.toggle-menu span
{
   background: ghostwhite;
    text-shadow: 5px 3px 4px #000000;
}

header nav ul li a
{
	color: cornsilk;
	text-shadow: 0px 0px 0px #000000;
}

header nav ul li a:hover
{
	color: #00b4db;
	text-shadow: 2px 4px 6px #000000;
}

header nav ul li a.active
{
    color: yellow;
}

main h1, h4
{
	font-family: 'Jua', sans-serif;
	color: ghostwhite;	
    text-shadow: 2px 3px 4px #000000;
}

main button
{
	background-color: transparent;
    border: 3px solid ghostwhite;
    color:  ghostwhite;
	text-shadow: 2px 1px 1px #000000;
}

main button:hover, .contact button:hover, .portfolio button:hover
{
	background-color: cornsilk;
	color: #a8ff78;
	border: 3px dashed cornsilk;
}

main h5
{
    color: ghostwhite;
    text-shadow: 2px 0px 1px #000000;
}

.portfolio, .contact
{
background: #FDFC47;  
background: -webkit-linear-gradient(to right, #24FE41, #FDFC47);  
background: linear-gradient(to right, #24FE41, #FDFC47); 
}

.project 
{
border: 2px solid ghostwhite;
background: #FDFC47;  
background: -webkit-linear-gradient(to right, #24FE41, #FDFC47);  
background: linear-gradient(to right, #24FE41, #FDFC47); 

}
.content{
color: #fff;
}

.overlay{
position: absolute;
bottom: 0;
left: 0;
right: 0;
background: rgba(49, 209, 129, 0.6);
width: 100%;
height: 0;
transition: 0.4s ease;
overflow: hidden;
}


.fab.fa-html5 {color: orangered;}
.fab.fa-css3-alt {color:darkblue;}
.fab.fa-js-square {color: yellow;}
.fab.fa-php {color: darkgrey;}
.fas.fa-database {color: forestgreen;}

.contact-box
{
    border: 4px solid whitesmoke;
	background: #FDFC47;  
    background: -webkit-linear-gradient(to right, #24FE41, #FDFC47);  
    background: linear-gradient(to right, #24FE41, #FDFC47); 
}

.contact-box h1, p
{
	color: ghostwhite;
}
input[type=email], textarea
{
	border: 2px inset ghostwhite;
}
textarea
{
height: 60%;
text-align: justify;
}
input[type=submit]
{
	background-color: transparent;
	color: whitesmoke;
	border: 2px solid ghostwhite;
	padding: 14px 18px;
	margin: 10px;
	width: 100px;
}
input[type=submit]:active
{
	border: 4px solid #00b4db;
	transition: 1s;
	background-color: ghostwhite;
	color: #00b4db;
}

.about-content
{
    color: white;
	border: 3px solid ghostwhite;
}

.portfolio button, .contact button, .about button
{
	background-color: transparent;
    border: 5px solid ghostwhite;
    color:  ghostwhite;
    text-decoration: none;
	text-shadow: 2px 1px 1px #000000;
}


/*************** MOBILE ***************/
@media (max-width: 720px)
{
  
    header nav
    {
background: #FDFC47;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #24FE41, #FDFC47);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #24FE41, #FDFC47); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
} 