
body
{

background: -webkit-linear-gradient(to right, #e73827, #f85032); 
background: linear-gradient(to right, #e73827, #f85032); 
}


.container-logo
{
	border: 2px solid cornsilk;
	background-color: transparent;
	padding: 10px;
	border-radius: 5px;
	-webkit-transform: skew(-10deg); 
	-moz-transform: skew(-10deg); 
	-o-transform: skew(-10deg);
    float: left;
    color: cornsilk;
	text-decoration: none;
	margin: 10px;
	font-family: 'Jua', sans-serif;
	text-shadow: 1px 3px 6px #000000;
    font-size: 1.2rem;
}

.container-logo:hover
{
	background-color: cornsilk;
	color: #f85032;
    cursor: pointer;
    -webkit-transform: skew(15deg);
	-moz-transform: skew(15deg) ;
	-o-transform: skew(15deg);
    transition: 1000ms;
	text-shadow: 1px 3px 6px cornsilk;
}

.toggle-theme
{
	color: cornsilk;
}

#theme-red
{
background: crimson;

}

#theme-default
{
    border: none;
}
.toggle-menu
{
    color: cornsilk;
}


header nav ul li a
{
	color: cornsilk;
	text-shadow: 2px 6px 4px #000000;
}

header nav ul li a:hover
{
	text-decoration: none;
	color: #ed213a;
	text-shadow: 2px 4px 6px #000000;
}

header nav ul li a.active
{
    color: lightyellow;
}
main h1, h4
{
	color: cornsilk;	
}

main button
{
	
	background-color: transparent;
    border: 3px solid cornsilk;
    color: cornsilk;
    text-decoration: none;
	text-shadow: 1px 0px 1px gray;
}

main button:hover, .contact button:hover, .portfolio button:hover
{
	background-color: cornsilk;
	color: #f85032;
	border:1px dashed cornsilk;
}

main h5
{
    color: cornsilk;
}

.portfolio, .contact, .project
{
background: -webkit-linear-gradient(to right, #e73827, #f85032); 
background: linear-gradient(to right, #e73827, #f85032); 
}

.overlay{background: crimson;
}


.about-content
{
	background-color: transparent;
	border: 3px solid white;
    color: cornsilk;
}

.about-content h2
{
	text-align: center;	
	font-size: 1.4rem;
}

.about-content p
{
    text-align: justify;
    font-size: 1rem;
    width: 90%;
    margin: 0 auto;
    padding: 10px;
    word-wrap: break-word;
    letter-spacing: 0.9px;
}
.box-info
{
    font-size: 2.5rem;
    width: 90%;
    margin: 0 auto;
    font-family: 'Jua', sans-serif;
}

.portfolio button
{

	background-color: transparent;
    border: 5px solid cornsilk;
    color: cornsilk;
	text-shadow: 1px 0px 1px gray;
}

.contact button
{
	background-color: transparent;
    border: 5px solid cornsilk;
    color: cornsilk;
	text-shadow: 1px 0px 1px gray;
}

.contact-box
{
	width: 100%;
	height: 100%;
	margin: 0 auto;
	border-radius: 15px;
	border: 2px solid whitesmoke;
    background: -webkit-linear-gradient(to right, #e73827, #f85032); 
   background: linear-gradient(to right, #e73827, #f85032); 
}

.contact-box h1, p
{
	color: ghostwhite;
}
input[type=email], textarea
{
	border: 2px inset crimson;
}

input[type=submit]
{
	background-color: transparent;
	color: whitesmoke;
	border: 2px solid ghostwhite;

}
input[type=submit]:active
{
	border: 4px solid #00b4db;
	transition: 1s;
	background-color: ghostwhite;
	color: #00b4db;
}
input[type=number]
{
    width: 50px;
    margin-left: 10px;
    border: 2px inset crimson;
}

/*************** MOBILE ***************/
@media (max-width: 720px)
{
   
    header nav
    {
    background: #111;
    background: -webkit-linear-gradient(to right, #e73827, #f85032); 
    background: linear-gradient(to right, #e73827, #f85032); 
    }
   
}

} 