*
{
margin: 0;
padding: 0;
border: 0;
line-height: 1.4em;
text-decoration: none;
outline: 0;
}
body
{
	font-family: sans-serif;
	box-sizing: border-box;
	font-size: 12px;
	background-image: url("img.gif");	
}
.container
{
	width: 80%;
    height: 90vh;
	margin: 0 auto;
}
.container-logo
{
	border: 1px solid #005C97;
	background-color: #005C97;
	padding: 10px;
    border-color: ghostwhite;
	border-radius: 5px;
	-webkit-transform: skew(-10deg); 
	-moz-transform: skew(-10deg); 
	-o-transform: skew(-10deg);
    float: left;
    color: white;
	text-decoration: none;
	margin: 10px;
	font-family: 'Jua', sans-serif;
	text-shadow: 1px 3px 6px #000000;
    font-size: 1.2rem;
}
.container-logo:hover
{
	background-color: transparent;
	color: #00b4db;
    border: 1px dashed #00b4db;
    cursor: pointer;
    -webkit-transform: skew(15deg);
	-moz-transform: skew(15deg) ;
	-o-transform: skew(15deg);
    transition: 1000ms;
}
.toggle-theme
{
	margin-top: 10px;
	float: left;
	color:  #005C97;
	font-size: 2.4rem;
}
.theme-picker
{
	display: none;
	float: left;
	width: 45px;
	height: 45px;
	margin-top: 8px;
	-webkit-transform: skew(-10deg); 
	-moz-transform: skew(-10deg); 
	-o-transform: skew(-10deg);
	border-radius: 5px;
}
#theme-red, #theme-lime, #theme-white, #theme-default
{
margin: 3px 1px;
padding: 10px 10px; 
float: left;
border-radius: 20%;
}
#theme-red
{
 background: #ed213a; 
 background: -webkit-linear-gradient(to right, #ed213a, #93291e); 
 background: linear-gradient(to right, #ed213a, #93291e);
}
#theme-lime
{
background: #a8ff78;
background: -webkit-linear-gradient(to right, #78ffd6, #a8ff78);
background: linear-gradient(to right, #78ffd6, #a8ff78);
}
#theme-white 
{
background: #FFEFBA;
background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);
background: linear-gradient(to right, #FFFFFF, #FFEFBA);
}
#theme-default {background-color: #005C97;}

.toggle-menu
{
    float: right;
    line-height: 50px;
    font-size: 2.5rem;
    cursor: pointer;
    display: none;
    padding: 10px;
    color: #005C97;
}
header
{
	 position:fixed;
     top:0;
     left:0;
     right:0;
     width: 85%;
     margin: 0 auto;
    -webkit-transition: width 0.4s ease;
    -moz-transition: width 0.4s ease;
    -o-transition: width 0.4s ease;
    transition: width 0.4s ease;
}
header nav
{
    float: right;
}
header nav ul
{
	display: flex;
}
header nav ul li 
{
    list-style: none;
}
header nav ul li a
{
	color: white;
	text-decoration: none;
	font-family: 'Jua', sans-serif;
	text-shadow: 2px 6px 4px #000000;
    padding: 10px 10px;
    height: 50px;
    line-height: 50px;
    font-size: 1.6rem;
    display: block;
}
header nav ul li a:hover
{
	text-decoration: none;
	color: #005C97;
	transition: 0.3s;
	text-shadow: 2px 4px 6px #000000;
}
header nav ul li a.active
{
    color: #005C97; 
}
main
{
width: 85%;
margin: 10% auto;
}
main h1, h4
{
	font-family: 'Jua', sans-serif;
	color: white;	
}
main h1 
{
    font-size: 4rem;
}

main h4
{
    font-size: 1.4rem;
}
main button, .portfolio button, .contact button
{
	width: 180px;
	height: 70px;
	background-color:  #005C97;
    border: 3px solid ghostwhite;
    color: white;
    padding: 14px 14px;
	font-family: 'Jua', sans-serif;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.3rem;
    margin: 12px auto;
    cursor: pointer;
	text-shadow: 1px 0px 1px gray;
	-webkit-transform: skew(-20deg); 
	-moz-transform: skew(-20deg); 
	-o-transform: skew(-20deg);
}
main button:hover, .contact button:hover, .portfolio button:hover
{
	background-color: transparent;
	transition: 0.6s;
	color: white;
	border:1px dashed #005C97;
}
main h5
{
    color: white;
    font-size: 1.5rem;
    padding: 0px;
    margin: 12px;
}

.contact, .portfolio
{
	height: 100vh;
	width: 100%;
	display: inline-block;
	background-image: url("img.gif");
}

.projects-box
{
	width: 100%;
    height: 100%;
    margin: 0 auto;
    display: inline-block;
}
.project 
{
 width: 40%;
 height: 23%;
 border: 2px solid ghostwhite;
 display: inline-block;
 background: #005C97;
background: -webkit-linear-gradient(to right, #363795, #005C97); 
background: linear-gradient(to right, #363795, #005C97);
 position: relative;
 left: 15%;
    top: -10%;
transform: translate(-15%, -10%);
}
.content{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
color: #fff;
text-transform: uppercase;
font-size:0.8rem;
white-space: nowrap;
}
.content span{
font-size:1.4rem;
display: block;
}
.overlay{
position: absolute;
bottom: 0;
left: 0;
right: 0;
background: rgba(49, 109, 120, 0.8);
width: 100%;
height: 0;
transition: 0.4s ease;
overflow: hidden;
}
.project:hover .overlay{
height: 100%
}

.fab.fa-html5 {color: orangered;}
.fab.fa-css3-alt {color:darkblue;}
.fab.fa-js-square {color: yellow;}
.fab.fa-php {color: darkgrey;}
.fas.fa-database {color: forestgreen;}

.contact-content, .portfolio-content
{
	width: 85%;
	height: 70%;
	margin: 40px auto;
}
.portfolio button, .contact button
{
	display: block;
}
.contact-box
{
	width: 100%;
	height: 100%;
	margin: 0 auto;
	border-radius: 15px;
	border: 2px solid whitesmoke;
	background: #005C97;
background: -webkit-linear-gradient(to right, #363795, #005C97);
background: linear-gradient(to right, #363795, #005C97);
}
.contact-box form
{
	height: 60%;
	width: 100%;
	text-align: center;
}
.contact-box h1, p
{
	color: ghostwhite;
	font-size: 1.5rem;
	font-family: 'Jua', sans-serif;
}
input[type=email], textarea
{
	width: 80%;
	font-weight: 700;
	text-align: left;
	border: 2px inset #00b4db;
	padding: 2px;
    resize: none;
}
textarea
{
height: 60%;
text-align: justify;
}
input[type=submit]
{
	background-color: transparent;
	color: whitesmoke;
	border: 2px solid ghostwhite;
	padding: 14px 18px;
	margin: 10px;
	width: 100px;
}
input[type=submit]:active
{
	border: 4px solid #00b4db;
	transition: 1s;
	background-color: ghostwhite;
	color: #00b4db;
}
#number
{
    width: 50px;
     -moz-appearance: textfield;
    margin: 0;
    margin-left: 10px;
}

.about
{
	width: 100%;
	display: block-inline;
}
.about-content
{
    padding: 0px;
	width: 30%;
	background-color: #00b4db;
	border: 3px solid white;
	border-radius: 10px;
    color: white;
}
.about-content h2
{
	text-align: center;	
	font-size: 1.4rem;
}
.about-content p
{
    text-align: justify;
    font-size: 1rem;
    width: 90%;
    margin: 0 auto;
    padding: 10px;
    word-wrap: break-word;
    letter-spacing: 0.9px;
}
.box-info
{
    font-size: 2.5rem;
    width: 90%;
    margin: 0 auto;
    font-family: 'Jua', sans-serif;
}

.fab.fa-html5 {color: #e34f26;}
.fab.fa-css3-alt {color:mediumblue;}
.fab.fa-js-square {color: #f7df1e;}
.fab.fa-facebook-square {color: #3B5998;}
.fab.fa-github {color: #6e5494;}

/*************** MOBILE ***************/
@media (max-width: 720px)
{
    
.contact-content, .portfolio-content
{
	width: 85%;
	height: 66%;
	margin: 80px auto;
}
    
.container, .portfolio, .contact
    {
     height: 100vh;
     width: 100%;
    }
    
main button, .portfolio button, .contact button
	{
    width: 75%;
    height: 80px;
    margin: 10px auto;
        padding: 0px;
    display: block;
	font-family: 'Jua', sans-serif;
    font-size: 15px;  
	border-radius: 5%;	
    -webkit-transform: none;
	-moz-transform: none;
	-o-transform: none;
	}
main{margin-top: 80px;}
main h1
	{
	font-size: 1.4rem;
	text-align: center;
	}
main h4
	{
	text-align: left;
	font-size: 1.4rem;
	text-align: center;
	margin-bottom: 20px;
	}
header
    {
    width: 100%;
    }
.toggle-menu
    {
    display: block;
    }  
header nav
    {
    position:absolute;
    width: 100%;
    height: 100%;
    background: #111;
    height: 600px;
    background-image: url("img.gif");
    top: -900%;
    transition: 0.5s;
    margin: 0 auto;
    z-index: -2;
    text-align: center;
	}
header nav ul li a
    {
    font-size: 1.6rem;
    text-transform: uppercase;
    margin: 0 auto;
    }
header nav.active
    {
    top: 0%; 
    display: block;
    }
header nav ul 
    {
    display: block;
    text-align: center;
	margin-top: 70px;
    }
main h5
    {
    font-size: 1rem;
	text-align: center;
    letter-spacing: -1px;
    }
main h1
	{
	font-size: 2rem;
	}
.about-content
    {
    padding: 0px;
	width: 100%;
	height: 70vh;
	background-color: transparent;
	border: none;
	border-radius: 12px;
    margin: 0 auto;
    }
.about-content h2
	{
	text-align: center;	
	font-size: 1.4rem;
	}
.about-content p
	{
    text-align: justify;
    font-size: 1rem;
    width: 90%;
    margin: 0 auto;
    padding: 10px;
    word-wrap: break-word;
    letter-spacing: 0.9px;
    text-decoration: none;
	}
.box-info
	{
    font-size: 2.5rem;
    width: 90%;
    margin: 0 auto;
    font-family: 'Jua', sans-serif;
	}
} 