body
{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	box-sizing: border-box;
	font-size: 12px;
	background-image: url("img.gif");
	background-image: cover;
}

#container
{
	height: 100%;
	width: 90%;
	margin: 10% auto;
}

#portfolio
{
	height: 100%;
	width: 100%;
	background-color: #333; 
}

.box-portfolio
{
  
    width: 80%;
 
    margin: 0 auto;
}

.box-portfolio button
{
    width: 180px;
	height: 60px;
	background-color: #4285F4;
    border: 1px solid #4285F4;
    color: white;
    padding: 14px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.3rem;
    margin: 0 auto;
    cursor: pointer;
	text-shadow: 1px 0px 1px gray;
	-webkit-transform: skew(-20deg); 
	-moz-transform: skew(-20deg); 
	-o-transform: skew(-20deg);
}

.box-portfolio h1
{
    color: white;
    font-family: 'Jua', sans-serif;
}

.projects-box
{
    margin: 0 auto;
	width: 80%;
	background-color: transparent;
	padding: 0;
}

.project 
{
 width: 200px;
 height: 200px;
 border: 1px solid gray;
 display: inline-block;
 margin: 4;
 background-color: transparent;
    position: relative;
}

.content{
position: absolute;
top: 45%;
left: 45%;
transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
color: #fff;
text-transform: uppercase;
font-size:20px;
white-space: nowrap;
overflow: hidden;
}

.content span{
font-size:12px;
display: block;
}
.overlay{
position: absolute;
bottom: 0;
left: 0;
right: 0;
background: #4285F4;
width: 100%;
height: 0;
transition: 0.4s ease;
overflow: hidden;
}

.project:hover .overlay{
height: 100%
}

.fab, .fas
{
    font-size: 2rem;    
}

.fab.fa-html5 {color: orangered;}
.fab.fa-css3-alt {color:darkblue;}
.fab.fa-js-square {color: yellow;}
.fab.fa-php {color: darkgrey;}
.fas.fa-database {color: forestgreen;}


#contact
{
height: 100%;
width: 100%;
background-color: darkblue;	
}

header
{
    margin: 0;
    padding: 0 100px;
	 position:fixed;
     top:0;
     left:0;
     right:0;
     width:100%;
	 box-sizing: border-box;
}

.logo
{
	border: 1px solid #4285F4;
	background-color: #4285F4;
	padding: 10;
	border-radius: 5spx;
	-webkit-transform: skew(-10deg); 
	-moz-transform: skew(-10deg); 
	-o-transform: skew(-10deg);
    float: left;
    color: white;
	text-decoration: none;
	margin: 10px;
	font-family: 'Jua', sans-serif;
	text-shadow: 1px 3px 6px #000000;
    font-size: 1.2rem;
}

.logo:hover
{
	background-color: transparent;
	color: #4285F4;
	background-color 1000ms ease;
    border: 1px dashed #4285F4;
    cursor: pointer;
    -webkit-transform: skew(15deg);
	-moz-transform: skew(15deg) ;
	-o-transform: skew(15deg);
    transition: 1000ms;
}

header nav
{
    float: right;
}

header nav ul
{
	margin: 0;
	padding: 0;
    display: flex;
}

header nav ul li 
{
    list-style: none;
}

header nav ul li a
{
	color: white;
	text-decoration: none;
	font-family: 'Jua', sans-serif;
	text-shadow: 2px 6px 4px #000000;
    padding: 0 20px;
    height: 50px;
    line-height: 50px;
    font-size: 1.2rem;
    display: block;
}

header nav ul li a:hover
{
	text-decoration: none;
	color: #4285F4;
	transition: 0.3s;
	text-shadow: 2px 4px 6px #000000;
}

header nav ul li a.active
{
    color: #4285F4;
}

.section
{
width: 85%;
height: 100%;
margin: 8% auto;
}

.section h1, h4
{
	font-family: 'Jua', sans-serif;
	color: white;	
}

.section h1 
{
    font-size: 4rem;
}

.section h4
{
    text-align: justify;
    font-size: 1.4rem;
}
.section button
{
	width: 180px;
	height: 70px;
	background-color: #4285F4;
    border: 1px solid #4285F4;
    color: white;
    padding: 14px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.3rem;
    margin: 10 auto;
    cursor: pointer;
	text-shadow: 1px 0px 1px gray;
	-webkit-transform: skew(-20deg); 
	-moz-transform: skew(-20deg); 
	-o-transform: skew(-20deg);
}

.section button:hover
{
	background-color: transparent;
	transition: 0.6s;
	color: white;
	border:1px dashed #4285F4;
}

.section h5
{
    color: white;
    font-size: 1.5rem;
    padding: 0;
    margin: 12;
}

footer
{
	background-color: transparent;
	padding: 16px 12px;
	color: white;
	text-align: center;
	font-family: 'Jua', sans-serif;
	font-size: 1.3rem;
	text-shadow: 2px 6px 4px #000000;
	background-image: url("img.gif");
	background-size: cover;
}

.toggle-menu
{
    float: right;
    line-height: 50px;
    font-size: 2.5rem;
    cursor: pointer;
    display: none;
    padding: 10;
    color: #4285F4;
}
.about
{
	color: white;
    width: 100%;
    height: 100%;
	margin: 0 auto;
}

.box
{
	width: 300px;
	height: 350px;
	background-color: #4285F4;
	border: 3px solid white;
	border-radius: 5px;
	text-align: justify;
}

.box h2
{
	text-align: center;	
	font-size: 1.4rem;
}


.box ul
{
	list-style: none;
}

.box ul li 
{
	font-size: 1.4rem;
}
/*************** MOBILE ***************/
@media (max-width: 720px)
{
    
#container
{
	height: 100%;
	width: 100%;
	margin: 0 auto;
}
    
.section button
{
    width: 260px;
    height: 60px;
	background-color: #4285F4;
    border: 1px solid #4285F4;
    color: white;
    margin: 8 auto;
    padding: 12px 18px;
    text-decoration: none;
    display: block;
    font-size: 12px;    
    -webkit-transform: none;
	-moz-transform: none;
	-o-transform: none;
	}
    .section
    {
        margin-top: 60px;
    }
	.section h1
	{
		font-size: 1.2rem;
		text-align: center;
	}
	.section h4
	{
		text-align: left;
		font-size: 1.1rem;
		text-align: center;
		margin-bottom: 10px;
	}
	header
    {
        padding: 0;
    }
    
    .toggle-menu
    {
        display: block;
    }
    
    header nav
    {
        position:absolute;
        width: 100%;

        height: 580px;
        background: #111;
        top: -900%;
        height: 500px;
        background-image: url("img.gif");
        top: -800%;

        transition: 0.4s;
        margin: 0 auto;
        z-index: -1;
        text-align: center;
    }
    header nav ul li a
    {
        font-size: 2.7rem;
        text-transform: uppercase;
        margin: 14 auto;
    }
    header nav.active
    {
        top: 0; 
        display: block;
    }
     header nav ul 
    {
    display: block;
    text-align: center;
	margin-top: 70px;
    }
    .section h5
    {
        font-size: 1rem;
		text-align: center;
        letter-spacing: -1;
    }
	.section h1
	{
		font-size: 2rem;
	}
    .box
	{
		margin: 70 auto;
	}
    
    .projects-box
    {
        margin: 0 auto;
	    width: 90%;
        height: 70%;
	    background-color: transparent;
    }

.project 
{
 width: 110px;
 height: 120px;
 border: 1px solid gray;
 display: block-inline;
 margin: 5;
 background-color: transparent;
position: relative;
}

} 